<div>
    <div class="banner treatments"></div>
</div>

<div class="max-width">
    <div class="brands">
        <a routerLink="/skincare/million">Million Dollar Facial</a>
        <a routerLink="/skincare/decleor">Decleor</a>
        <a routerLink="/skincare/skinbase">SkinBase</a>
    </div>

    <div class="logo">
        <img src="../../../assets/images/products/decleor/Decleor_Logo.png" alt="">
    </div>

    <div class="container-flex">
        <div>
            <h2>What is Microdermabrasion?</h2>
            <p>The process of a SkinBase Microdermabrasion facial involves the abrasive action of tiny crystals. The
                procedure is simple, quick, and painless, with no downtime, so a perfect choice for regular treatment.
            </p>
            <h2>
                How does it work?
            </h2>
            <p>During treatment, tiny crystals gently exfoliate the skin. The machine draws the crystal, under suction,
                through a small hole in the handpiece and over the skin. This exfoliates the outer layer of skin, at the
                same time sucking away the loosened dead skin and used crystals.</p>
        </div>
        <div class="container-text">
            <ul>
                <li><span class="material-icons">done</span>
                    Acne & Acne scarring </li>
                <li><span class="material-icons">done</span> Fine lines & wrinkles
                </li>
                <li><span class="material-icons">done</span> Dull & Tired skin </li>
                <li><span class="material-icons">done</span> Uneven skin tone
                </li>
                <li><span class="material-icons">done</span> Hyperpigmentation
                </li>
            </ul>
        </div>
    </div>
</div>