<div>
    <div class="banner treatments"></div>
</div>

<div class="max-width">
    <div class="brands">
        <a routerLink="/skincare/million" [routerLinkActive]="['is-active']">Million Dollar Facial</a>
        <a routerLink="/skincare/decleor" [routerLinkActive]="['is-active']">Decleor</a>
        <a routerLink="/skincare/skinbase" [routerLinkActive]="['is-active']">SkinBase</a>
    </div>
    <div class="animation fade">
        <div class="logo">
            <img src="../../../assets/images/products/skinbase/skinbase_logo1.png" alt="">
        </div>

        <section>
            <div class="container">
                <div class="container-grid">
                    <div>
                        <h2>What is Microdermabrasion?</h2>
                        <p>
                            The process of a SkinBase Microdermabrasion facial involves the abrasive action of tiny
                            crystals. The procedure is simple, quick, and painless, with no downtime, so a perfect
                            choice
                            for regular treatment.</p>
                        <h2>How does it work?</h2>
                        <p>
                            During treatment, tiny crystals gently exfoliate the skin. The machine draws the crystal,
                            under
                            suction, through a small hole in the handpiece and over the skin. This exfoliates the outer
                            layer of skin, at the same time sucking away the loosened dead skin and used crystals. </p>
                    </div>
                    <div>
                        <h3>Treatment Benefits:</h3>
                        <div class="container-flex">
                            <div class="container-block-1">
                                <ul>
                                    <li><span class="material-icons">done</span>Acne & Acne scarring </li>
                                    <li><span class="material-icons">done</span> Fine lines & wrinkles</li>
                                    <li><span class="material-icons">done</span> Dull & Tired skin </li>
                                    <li><span class="material-icons">done</span> Uneven skin tone</li>
                                    <li><span class="material-icons">done</span> Hyperpigmentation</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="grid grid-3">
                        <div>
                            <div>
                                <h3>Super Food Facial</h3>
                                <p>For dehydrated/ dull skin</p>
                            </div>
                            <div class="block animation fadeIn">
                                <div>
                                    <p>1 hour</p>
                                    <h4>£50</h4>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h3>Magic Mineral Facial</h3>
                                <p>For Hyper-pigmentation / melasma / sun damage / acne scarring </p>
                            </div>
                            <div class="block animation fadeIn-slow">
                                <div>
                                    <p>1 hour</p>
                                    <h4>£50</h4>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h3>Eliminate Facial</h3>
                                <p>For breakout prone / Oily skin </p>
                            </div>
                            <div class="block animation fadeIn-slower">
                                <div>
                                    <p>1 hour</p>
                                    <h4>£50</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-2">
                        <div>
                            <div>
                                <h3>Youth Boost Facial </h3>
                                <p>For fine lines/ wrinkles. Mature skin</p>
                            </div>
                            <div class="block animation fadeIn">
                                <div>
                                    <p>1 hour 15 minutes</p>
                                    <h4>£65</h4>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3>Express Fresh Facial </h3>
                            <p>All skin types </p>
                            <div class="block animation fadeIn-slow">
                                <div>
                                    <p>30 minutes</p>
                                    <h4>£35</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 style="text-align: center; font-weight: 300;">Results will be seen instantly but for some skin concerns
                a course
                would be recommended.</h3>
            <div class="images">
                <div class="img-1">
                    <img src="../../../assets/images/products/skinbase/face.jpg" alt="">
                </div>
                <div class="img-1">
                    <img src="../../../assets/images/products/skinbase/logo.jpg" alt="">
                </div>
                <div class="img-1">
                    <img src="../../../assets/images/products/skinbase/face2.jpg" alt="">
                </div>
            </div>
        </section>

    </div>
</div>