<div>
  <div class="banner treatments"></div>
</div>

<div class="max-width">
  <div class="logo">
    <img src="../../../assets/images/products/decleor/Decleor_Logo.png" alt="">
  </div>
  <div class="decleor-block">
    <div class="decleor-block-info">
      <p>
        Since 1974, we have listened to our experts when designing and creating
        our skincare. Decléor sits on a rich professional heritage focused on
        the power of using facial and body treatments to maximise your skincare.
      </p>
      <p>
        Our therapists and education team are at the heart of our mission to
        provide you with natural but powerful skincare along with our
        professional expertise to ensure you can truly achieve your ideal skin
        goals.
      </p>
    </div>
    <!-- <div class="decleor-block-img">
      <img class="animation fade-right" src="../../../assets/images/products/decleor/product4.jpg"
        alt="decleor product" />
      <img class="animation fade-left" src="../../../assets/images/products/decleor/product3.jpg"
        alt="decleor product" />
    </div> -->
  </div>

  <div class="section">
    <div class="container">
      <h2>Decleor Ultimate Vitamin Glow</h2>
      <div class="container-flex">
        <div class="container-text">
          <p>Discover what makes Decléor facials world famous with this divine 'taster'. When you're short of
            time
            but want to bring back an irresistibly healthy complexion, this is the perfect rescue remedy.
          </p>
          <p>For
            rapid results, your expert therapist uses a combination of massage, essential oils and a gentle
            polish to smooth and revitalise tired skin leaving it fresh and radiant instead.</p>
          <div class="blocks">
            <div class="animation fadeIn">
              <p>Vitamin Glow Facial - 30min</p>
              <h4>£30</h4>
            </div>
            <div class="animation fadeIn-slow">
              <p>Vitamin Glow Facial - 60min</p>
              <h4>£40</h4>
            </div>
          </div>
        </div>
        <div class="img-6">
          <img src="../../../assets/images/treatments/glow.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="container">
      <h2>Decleor Advanced Anti-Ageing</h2>
      <div class="container-flex">
        <div class="container-text">
          <p>Power packed with vitamins and antioxidants, this award winning facial melts away stress.
            Combines a
            rebalancing Essential Oil elixir plus warm, decongesting mask for skin that’s purified,
            perfectly
            replenished and glowing.</p>
          <div class="block animation fade-right">
            <div>
              <p>Smooth & Glow - 1hour 15min</p>
              <h4>£50</h4>
            </div>
          </div>
        </div>
        <div class="img-5">
          <img src="../../../assets/images/treatments/anti-ageing.jpg" alt="">
        </div>
      </div>
      <div class="blocks">
        <div class="animation fadeIn">
          <p>Sculpt & Rejuvenate - 1hour 15min</p>
          <h4>£55</h4>
        </div>
        <div class="animation fadeIn-slow">
          <p>Plump & Lift - 1hour 15min</p>
          <h4>£55</h4>
        </div>
      </div>
    </div>
  </div>
</div>