<div>
    <div class="banner treatments"></div>
</div>

<div class="max-width">
    <div class="brands">
        <a routerLink="/skincare/million" [routerLinkActive]="['is-active']">Million Dollar Facial</a>
        <a routerLink="/skincare/decleor" [routerLinkActive]="['is-active']">Decleor</a>
        <a routerLink="/skincare/skinbase" [routerLinkActive]="['is-active']">SkinBase</a>
    </div>
    <div class="animation fade">
        <div class="logo">
            <img src="../../../assets/images/treatments/mini2.png" alt="">
        </div>

        <!-- <div class="flex flex_col text">
        <h1 class="animate__animated animate__fadeInUp">Advanced Facials</h1>
    </div> -->

        <div class="section">
            <div class="container">
                <div>
                    <h2>Million Dollar Facial</h2>
                    <p>A luxurious facial where science meets indulgence. Working your skin from the outside in, this
                        treatment
                        has
                        been designed to deeply exfoliate dead skin cells and remove non terminal hair, polish the skin,
                        flush
                        toxins, increase and stimulate our natural collagen and cell turnover.</p>
                    <p>This treatment includes a lymphatic massage with Ice globs, leaving you looking and feeling a
                        million
                        dollars! </p>
                </div>
                <div>
                    <h3>Treatment Benefits:</h3>
                    <div class="container-flex">
                        <div class="container-block-1">
                            <ul>
                                <li><span class="material-icons">done</span> Elevated absorption levels of up to 80%
                                </li>
                                <li><span class="material-icons">done</span> Brighter skin</li>
                                <li><span class="material-icons">done</span> Professional skin analysis</li>
                                <li><span class="material-icons">done</span> Smoother skin</li>
                                <li><span class="material-icons">done</span> Increased hydration levels with a Million
                                    Dollar
                                    Mask
                                </li>
                                <li><span class="material-icons">done</span> Flawless makeup application</li>
                                <li><span class="material-icons">done</span> Reduces scarring</li>
                                <li><span class="material-icons">done</span> Firmer skin</li>
                            </ul>
                            <ul>
                                <li><span class="material-icons">done</span> Increases collagen production</li>
                                <li><span class="material-icons">done</span> Removes 3 to 4 weeks worth of dead skin
                                    cells
                                </li>
                                <li><span class="material-icons">done</span> Lymphatic drainage removes built up toxins
                                </li>
                                <li><span class="material-icons">done</span> Glowing, even skin tone</li>
                                <li><span class="material-icons">done</span> Reduces pigmentation inc (PIH)</li>
                                <li><span class="material-icons">done</span> Thickens the epidermis over time to reduce
                                    appearance of broken capillaries</li>
                            </ul>
                        </div>
                        <div class="img-1">
                            <img src="../../../assets/images/treatments/face2.jpg" alt="">
                        </div>
                    </div>
                    <div class="blocks">
                        <div class="animation fadeIn">
                            <p>A course of 4 treatments is advised, although results will show after just one treatment.
                                One
                                session every 4 to 6 weeks will give maximum results.</p>
                        </div>
                        <div class="animation fadeIn">
                            <p>Microneedling & Dermaplaning can be booked as separate facials (see below)</p>
                        </div>
                        <div class="animation fadeIn-slow">
                            <p>1 HOUR</p>
                            <h4>£120</h4>
                        </div>
                        <div class="animation fadeIn-slower">
                            <p>Special offer</p>
                            <h4>£90</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <h2>Million Dollar Micro-Needling Facial</h2>
                <div class="container-flex">
                    <div class="container-text">
                        <div>
                            <p>The aim of our Million Dollar micro needling treatment is to traumatise the skin without
                                collateral
                                damage to
                                the epidermis and healthy skin tissue. The recovery is rapid, with very little downtime,
                                pain or
                                discomfort.
                            </p>
                            <p>Million dollar micro needling is used to treat and improve conditions like acne scarring,
                                fine
                                lines and
                                wrinkles, loose skin, skin texture, pore size, brown spots, stretch marks, and pigment
                                issues.
                            </p>
                        </div>
                        <div class="block animation fade-right">
                            <div>
                                <p>Working with our bespoke products with full clinical evidence the products and
                                    treatment
                                    combined
                                    are a real powerhouse for results.</p>
                            </div>
                        </div>

                    </div>
                    <div class="img-2">
                        <img src="../../../assets/images/treatments/microNeedle3.jpg" alt="">
                    </div>
                </div>
                <div class="blocks">
                    <div class="animation fadeIn">
                        <p>1 Hour</p>
                        <h4>£75 </h4>
                    </div>
                    <div class="animation fadeIn-slow">
                        <p>Special offer</p>
                        <h4>£65</h4>
                    </div>
                </div>

            </div>

            <div class="container">
                <h2>Million Dollar Dermaplane Facial</h2>
                <div class="container-flex">
                    <div class="container-text">
                        <div>
                            <p>Million dollar Dermaplaning is a manual exfoliation cosmetic procedure that gently
                                abrades
                                the
                                top layers
                                of
                                the skin using a surgical blade with our industry leading Million dollar professional
                                skin
                                care
                                products.
                                The procedure aims to increase the absorption of skincare /topical products and diminish
                                fine
                                lines and
                                wrinkles. The treatment stimulates collagen synthesis and creates a healthy glow and a
                                radiant
                                complexion.
                            </p>
                            <p>Dermaplane aims to make your skins surface smooth, youthful and radiant. It is also used
                                to
                                remove “peach
                                fuzz” the short soft vellus non terminal hair from your face. </p>
                        </div>
                    </div>
                    <div class="img-3">
                        <img src="../../../assets/images/treatments/dermaplaning.jpg" alt="">
                    </div>
                </div>

                <div class="blocks">
                    <div class="animation fadeIn">
                        <p>Course of 4</p>
                        <h4>£180</h4>
                        <p>1 Hour</p>
                        <h4>£50</h4>
                    </div>
                    <div class="animation fadeIn-slow">
                        <p>ADD CASMARA JELLY MASK</p>
                        <h4>£10</h4>
                    </div>
                    <div class="animation fadeIn-slower">
                        <p>ADD MILLION DOLLAR MIRACLE MASK</p>
                        <h4>£10</h4>
                    </div>
                </div>
                <div>
                </div>
            </div>

            <div class="container">
                <h2>Million Dollar Superfacial Treatments</h2>
                <div class="container-flex">
                    <div class="container-text">
                        <div>
                            <h3>Glow Superfacial</h3>
                            <p>A luxurious facial combining Million Dollar Vit c10 and Ice globes.</p>
                            <p>Million Dollar Superfacial Vit C10 is a powerful antioxidant containing L-ascorbic acid
                                at
                                10%,
                                which has
                                been clinically proven to help clear free radicals caused by ageing, lifestyle and
                                pollution.
                                These free
                                radicals also damage small blood vessels which carry vital nutrients to the skin.</p>
                            <p>Using Million Dollar Superfacial VitC10 will help fight these radicals, improve blood
                                flow to
                                the
                                skin to
                                preserve collagen, leaving skin looking more radiant and your complexion more youthful.
                            </p>
                            <h3>Hydrate Superfacial</h3>
                            <p>A powerful, high concentration of 15 % hyaluronic acid. A humectant to attract moisture
                                from
                                the
                                blood
                                vessels into the skin.</p>
                        </div>
                    </div>
                    <div class="img-4">
                        <img src="../../../assets/images/products/million/faceBalls2.jpg" alt="">
                    </div>
                </div>
                <div class="container-flex">
                    <div>
                        <p>Suitable for use on all skin types, the serum absorbs quickly to hydrate and keep skin
                            supple.
                            The active
                            serum will help to reduce the appearance of fine lines and wrinkles whilst promoting an even
                            skin tone
                            and a
                            youthful complexion. Optimal skin hydration helps to heal and soothe inflammation.</p>
                        <p>The products will help to increase the flow of nutrients between cells and helps to flush out
                            toxins for
                            a
                            healthier complexion.</p>
                    </div>
                </div>
                <h3>The key features of the ICE GLOBES:</h3>
                <div class="container-flex">
                    <div class="container-text">
                        <ul>
                            <li><span class="material-icons">done</span>
                                Eliminates redness and calms skin after waxing, extractions ,skin peels , dermaplaning
                                and
                                microdermabrasion treatments.</li>
                            <li><span class="material-icons">done</span> Stimulates blood circulation and oxygenates the
                                skin.
                            </li>
                            <li><span class="material-icons">done</span> Excellent treatment for anybody with sinus
                                problems,
                                puffy
                                eyes, headaches and migraines.</li>
                            <li><span class="material-icons">done</span> Stimulates the nerves and exercises facial
                                muscles.
                            </li>
                        </ul>
                        <ul>
                            <li><span class="material-icons">done</span> Helps to reduce the appearance of large pores.
                            </li>
                            <li><span class="material-icons">done</span> A great primer for makeup</li>
                            <li><span class="material-icons">done</span> Tightens skin and eliminates fine lines.</li>
                            <li><span class="material-icons">done</span> Provides a cool and luxurious finish to any
                                facial
                                and
                                is
                                the perfect tool for lymphaticdrainage massage.</li>
                        </ul>
                    </div>
                    <div class="block animation fade-left block-right">
                        <div>
                            <p>1 HOUR</p>
                            <h4>£50</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <h2>The Mini Million Dollar Facial</h2>
                <div class="container-flex">
                    <div>
                        <p>Brighten skin in minutes with The Mini Million Dollar facial. Totally particle free and pain
                            free
                            this
                            instant enzymatic peeling gel quickly removes dead skin cells, removes impurities, clears
                            clogged pores
                            and
                            helps regenerate new skin. Enjoy a prescriptive mask and facial massage.</p>
                        <div class="blocks">
                            <div class="animation fadeIn">
                                <p>30 MINS</p>
                                <h4>£40</h4>
                            </div>
                            <div class="animation fadeIn-slow">
                                <p>Special offer</p>
                                <h4>£35</h4>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>

            <div class="container">
                <h2>THE MIRACLE MASK FACIAL </h2>
                <p>The groundbreaking facial mask packed with clinically proven ingredients. This multi-functional
                    treatment
                    is
                    designed to work miracles leaving the skin firmer, tighter and brighter in just one session.</p>
                <p>This hour-long facial includes a neck and shoulder massage that leaves you feeling relaxed and
                    rejuvenated. A
                    must-have facial before any big event.</p>
                <p>The magic of the Miracle Mask shows the peptides and antioxidants to tighten and firm the skin. The
                    formula
                    stimulates plasma into the deeper levels of the skin in order to enhance cellular renewal. By
                    helping to
                    promote Keratinocytes, collagen and elastin, the skin can remove impurities and provide a youthful
                    appearance.</p>
                <p>Developed to make you feel a Million Dollars every day…. So this works fantastically when we
                    incorporate
                    it
                    as a weekly treatment.</p>
                <p>Immediate results last up to 7 days with post ongoing results when used alongside complimentary
                    weekly
                    treatments. A course of 4-6 treatments will see the full benefit of optimum, lasting results.</p>

                <div class="blocks">
                    <div class="animation fadeIn">
                        <p>1 Hour</p>
                        <h4>£60</h4>
                    </div>
                    <div class="animation fadeIn-slow">
                        <p>Special Offer</p>
                        <h4>£55</h4>
                    </div>
                    <div class="animation fadeIn-slower">
                        <p>Add Dermaplaning</p>
                        <h4>£5</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>