<div style="position: relative;">
  <video autoplay loop muted playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true" id="myVideo"
    type="video/mp4">
    <source src="../../../assets/video/video.mp4">
  </video>
</div>

<div class="brand-banner animation fadeIn">
  <div>
    <img src="../../../assets/images/products/decleor/Decleor_Logo.png" alt="">
  </div>
  <div>
    <img src="../../../assets/images/products/million/million-dollar-facial-logo.png" alt="">
  </div>
</div>

<div class="max-width">
  <div class="flex flex_col text">
    <h1>Welcome to Aurora Beauty</h1>
    <p>
      Aurora Skincare & Beauty Therapy was created 6 years ago by Melissa Bland,
      who also works full time as a skincare & beauty specialist in the salon.
      Recently Melissa has expanded the salon to allow a variety of treatments
      to work along side her.
    </p>
    <p>
      Each member of the team here is self employed, but collectively we strive
      to bring clients the highest quality treatment, products and professional
      service.
    </p>
  </div>
</div>

<div style="  background: #ede9e6;">
  <div class="home-cards">
    <a class="home-cards-item animation fadeIn" routerLink="/about">
      <div class="home-cards-img img1">
      </div>
      <div class="home-cards-text">
        <h2><span>About Us</span></h2>
        <p>Our therapists and education team are at the heart of our mission to provide you with natural but powerful
          skincare along with our professional expertise to ensure you can truly achieve your ideal skin goals.</p>
      </div>
    </a>
    <a class="home-cards-item animation fadeIn" routerLink="/decleor">
      <div class="home-cards-img img5">
      </div>
      <div class="home-cards-text">
        <h2><span>Hands & Feet</span></h2>
        <p>Our revitalising organic manicure includes an uplifting aromatherapy infused exfoliation, deeply nourishing
          hot mitt masque, relaxing hand and arm massage. Your nails are then tided, shaped, buffed and polished to
          perfection with your choice of The Gel Bottle Gel or Vinylux Polish.</p>
      </div>
    </a>
    <a class="home-cards-item animation fadeIn" routerLink="/decleor">
      <div class="home-cards-img img6">
      </div>
      <div class="home-cards-text">
        <h2><span>Lashes & Brows</span></h2>
        <p>Simply choose your look from natural classics to glamorous Russians and dramatic hybrids. If you need advice
          our in house Lashes tech will help guide you through the looks so you have the perfect lashes for you.</p>
      </div>
    </a>
    <a class="home-cards-item animation fadeIn" routerLink="/treatments">
      <div class="home-cards-img img2">
      </div>
      <div class="home-cards-text">
        <h2><span>Massage</span></h2>
        <p>Massage is a greatly relaxing and restorative therapy. It's the perfect way to melt away all your stress,
          relieve aching muscles and calm your busy mind. We have a comprehensive range of professional massage
          treatments that can be tailored to meet your individual needs.</p>
      </div>
    </a>
    <a class="home-cards-item animation fadeIn" routerLink="/decleor">
      <div class="home-cards-img img3">
      </div>
      <div class="home-cards-text">
        <h2><span>Advanced Facials</span></h2>
        <p>Since 1974 we have listened to our experts when designing and creating our skincare. Decléor sits on a rich
          professional heritage focused on the power of using facial and body treatments to maximise your skincare.</p>
      </div>
    </a>
    <a class="home-cards-item animation fadeIn" routerLink="/decleor">
      <div class="home-cards-img img4">
      </div>
      <div class="home-cards-text">
        <h2><span>Products</span></h2>
        <p>We offer a wide selection of treatments for face & body, using the internationally recognised product brands
          DECLEOR & Million Dollar System. A consultation will be performed before every treatment, tailoring services
          to your needs.</p>
      </div>
    </a>
  </div>
</div>

<div class="gallery-container">
  <div class="gallery-grid">
    <div class="gallery-grid__div">
      <img src="../../../assets/images/about/bed22.jpg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/about/chair22.jpg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/about/desk2.jpg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/about/door2.jpg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/about/room1.jpg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/about/room22.jpg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/about/room33.jpg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/about/room44.jpg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/about/room55.jpg" alt="" class="gallery-img">
    </div>
  </div>
</div>

<div class="max-width" style="max-width: 1500px">
  <div class="review-wrapper">
    <div class="flex">
      <h2>Customer Reviews</h2>
    </div>
    <ngx-glide type="carousel" [perView]="4" [autoplay]="3000" [showBullets]="false" [showArrows]="false"
      [hoverpause]="false" [breakpoints]="{ '510': { perView: 1 }, '768': { perView: 2 }, '1090': { perView: 3 } }">
      <div class="carousel-review">
        <div>
          <h3>Naomi Annie Warren</h3>
          <p>
            I had a back, neck and head massage with Melissa and felt like I was
            floating afterwards! Absolutely amazing!!
          </p>
        </div>
        <span>10 days ago</span>
      </div>
      <div class="carousel-review">
        <div>
          <h3>Gail Kellington</h3>
          <p>
            Love going to Aurora Beauty. It's a gorgeous salon, treatments are 👌🏻
            Highly recommend going!
          </p>
        </div>
        <span>1 month ago</span>
      </div>
      <div class="carousel-review">
        <div>
          <h3>Fiona Mercer</h3>
          <p>
            I go to Aurora for a monthly swedish massage with Melissa. Brilliant
            service, a lovely place to visit and Melissa is wonderful!
          </p>
        </div>
        <span>2 months ago</span>
      </div>
      <div class="carousel-review">
        <div>
          <h3>Livvie Sheryn</h3>
          <p>Such a personal experience - couldn't recommend more!</p>
        </div>
        <span>3 weeks ago</span>
      </div>
    </ngx-glide>
  </div>
</div>


<!-- <div style="display: grid; grid-template-columns: 50% 50%;">
    <div style="margin: 80px 50px;">
      <ngx-glide type="carousel" [autoplay]="3000" [perView]="1" [showArrows]="false" [hoverpause]="false">
        <div class="carousel-bannner">
          <div class="banner carousel-item1">
            <h1>
            Welcome to Aurora Beauty
          </h1>
          </div>
        </div>
        <div>
          <div class="banner carousel-item2"></div>
        </div>
        <div class="carousel-bannner">
          <div class="banner carousel-item3"></div>
        </div>
        <div class="carousel-bannner">
          <div class="banner carousel-item4"></div>
        </div>
      </ngx-glide>
    </div>
    <div
      style="margin: 80px 50px ; background-color: #585657; display: flex; align-items: center; justify-content: center;">
      <div style="display: flex;flex-direction: column;align-items: center;"
        class="animate__animated animate__fadeInUp">
        <div style="display: flex; align-items: flex-end;">
          <h1 style="color: #fff">Welcome to </h1>
          <img src="../../../assets/images/shared/Logo2.png" alt="">
        </div>
        <div>
          <p>Tel: 07507393637</p>
        </div>
        <div>
          <p>105 Whalley Road Clitheroe </p>
        </div>
      </div>
    </div>
  </div> -->

<!-- ngx-glide -->

<!-- <div class="max-width">
  <ngx-glide
    type="carousel"
    [autoplay]="3000"
    [perView]="3"
    [showBullets]="false"
  >
    <div style="height: 100px; background-color: green">0</div>
    <div style="height: 100px; background-color: blue">1</div>
    <div style="height: 100px; background-color: red">2</div>
    <div style="height: 100px; background-color: green">0</div>
    <div style="height: 100px; background-color: blue">1</div>
    <div style="height: 100px; background-color: red">2</div>
  </ngx-glide>
</div> -->