<div style="position: relative;">
  <!-- <div class="banner top-banner">
  </div> -->
  <!-- <div>
    <h1>
      Welcome to
    </h1>
    <img src="../../../assets/images/shared/Logo2-removebg-previeww.png" alt="" srcset="">
  </div> -->
  <video style="width: 100%; height: 100vh; object-fit: cover;" autoplay="autoplay" loop="loop" muted defaultMuted
    playsinline oncontextmenu="return false;" preload="auto" id="myVideo"
    src="../../../assets/video/pexels-ivan-samkov-5659264.mp4">
  </video>
</div>

<div class="max-width">
  <div class="flex flex_col text">
    <h1>Welcome to Aurora Beauty</h1>
    <div>
      Aurora Skincare & Beauty Therapy was created 6 years ago by Melissa Bland,
      who also works full time as a skincare & beauty specialist in the salon.
      Recently Melissa has expanded the salon to allow a variety of treatments
      to work along side her.
    </div>
    <div>
      Each member of the team here is self employed, but collectively we strive
      to bring clients the highest quality treatment, products and professional
      service.
    </div>
  </div>
</div>



<div class="home-cards">
  <a class="home-cards-item" routerLink="/about">
    <div class="home-cards-img img1">
    </div>
    <div class="home-cards-text">
      <h2><span>About Us</span></h2>
      <p>Since 1974 we have listened to our experts when designing and creating our skincare. Decléor sits on a rich
        professional heritage focused on the power of using facial and body treatments to maximise your skincare.</p>
    </div>
  </a>
  <a class="home-cards-item" routerLink="/treatments">
    <div class="home-cards-img img2">
    </div>
    <div class="home-cards-text">
      <h2><span>Treatments</span></h2>
      <p>Since 1974 we have listened to our experts when designing and creating our skincare. Decléor sits on a rich
        professional heritage focused on the power of using facial and body treatments to maximise your skincare.</p>
    </div>
  </a>
  <a class="home-cards-item" routerLink="/decleor">
    <div class="home-cards-img img3">
    </div>
    <div class="home-cards-text">
      <h2><span>Products</span></h2>
      <p>We offer a wide selection of treatments for face & body, using the internationally recognised product brands
        DECLEOR & Million Dollar System. A consultation will be performed before every treatment, tailoring services
        to your needs.</p>
    </div>
  </a>
</div>

<!-- <div style="display: grid; grid-template-columns: 50% 50%;">
    <div style="margin: 80px 50px;">
      <ngx-glide type="carousel" [autoplay]="3000" [perView]="1" [showArrows]="false" [hoverpause]="false">
        <div class="carousel-bannner">
          <div class="banner carousel-item1">
            <h1>
            Welcome to Aurora Beauty
          </h1>
          </div>
        </div>
        <div>
          <div class="banner carousel-item2"></div>
        </div>
        <div class="carousel-bannner">
          <div class="banner carousel-item3"></div>
        </div>
        <div class="carousel-bannner">
          <div class="banner carousel-item4"></div>
        </div>
      </ngx-glide>
    </div>
    <div
      style="margin: 80px 50px ; background-color: #585657; display: flex; align-items: center; justify-content: center;">
      <div style="display: flex;flex-direction: column;align-items: center;"
        class="animate__animated animate__fadeInUp">
        <div style="display: flex; align-items: flex-end;">
          <h1 style="color: #fff">Welcome to </h1>
          <img src="../../../assets/images/shared/Logo2.png" alt="">
        </div>
        <div>
          <p>Tel: 07507393637</p>
        </div>
        <div>
          <p>105 Whalley Road Clitheroe </p>
        </div>
      </div>
    </div>
  </div> -->

<div class="home-banner">
  <div class="home-banner-img">
    <h2>Treatment room/nail desk available for rent</h2>
    <div class="banner home"></div>
    <p>Call: 07507393637</p>
  </div>
  <div class="home-banner-text">
    <div class="home-banner-inner">
      <p>Full / part time options</p>
      <p>Set / flexible days</p>
      <p>Perfect for - Beauty Therapist</p>
      <p>Nail technicians</p>
      <p>Massage</p>
      <p>Massage Aesthetics</p>
      <p>Foot health</p>
      <p>Osteopath</p>
    </div>
    <div class="home-banner-inner">
      <p>Client base not essential</p>
      <p>Competitive rates</p>
      <p>Be your own boss</p>
      <p>Friendly salon</p>
      <p>Free parking</p>
      <p>Electric couch</p>
      <p>Pedicure chair</p>
      <p>Tea/coffee facilities</p>
    </div>
  </div>
</div>

<div class="gallery-grid">
  <div class="gallery-grid__div">
    <img src="../../../assets/images/treatments/nails/nails1.jpg" alt="" class="gallery-img">
  </div>

  <div class="gallery-grid__div">
    <img src="../../../assets/images/treatments/lashes/brows.jpg" alt="" class="gallery-img">
  </div>

  <div class="gallery-grid__div">
    <img src="../../../assets/images/treatments/nails/nails2.jpg" alt="" class="gallery-img">
  </div>

  <div class="gallery-grid__div">
    <img src="../../../assets/images/treatments/facial/facial5.jpg" alt="" class="gallery-img">
  </div>

  <div class="gallery-grid__div">
    <img src="../../../assets/images/treatments/nails/nails3.jpg" alt="" class="gallery-img">
  </div>

  <div class="gallery-grid__div">
    <img src="../../../assets/images/treatments/lashes/lashes1.jpg" alt="" class="gallery-img">
  </div>

  <div class="gallery-grid__div">
    <img src="../../../assets/images/treatments/lashes/brows.jpg" alt="" class="gallery-img">
  </div>

  <div class="gallery-grid__div">
    <img src="../../../assets/images/treatments/nails/nails1.jpg" alt="" class="gallery-img">
  </div>

  <div class="gallery-grid__div">
    <img src="../../../assets/images/treatments/facial/facial5.jpg" alt="" class="gallery-img">
  </div>
</div>

<div class="gallery-padding"></div>

<div class="max-width" style="max-width: 1500px">
  <div class="review-wrapper">
    <div class="flex">
      <h2>Customer Reviews</h2>
    </div>
    <ngx-glide type="carousel" [perView]="4" [autoplay]="3000" [showBullets]="false" [showArrows]="false"
      [hoverpause]="false" [breakpoints]="{ '510': { perView: 1 }, '768': { perView: 2 }, '1090': { perView: 3 } }">
      <div class="carousel-review">
        <h2>Naomi Annie Warren</h2>
        <p>
          I had a back, neck and head massage with Melissa and felt like I was
          floating afterwards! Absolutely amazing!!
        </p>
        <span>10 days ago</span>
      </div>
      <div class="carousel-review">
        <h2>Gail Kellington</h2>
        <p>
          Love going to Aurora Beauty. It's a gorgeous salon, treatments are 👌🏻
          Highly recommend going!
        </p>
        <span>1 month ago</span>
      </div>
      <div class="carousel-review">
        <h2>Fiona Mercer</h2>
        <p>
          I go to Aurora for a monthly swedish massage with Melissa. Brilliant
          service, a lovely place to visit and Melissa is wonderful!
        </p>
        <span>2 months ago</span>
      </div>
      <div class="carousel-review">
        <h2>Livvie Sheryn</h2>
        <p>Such a personal experience - couldn't recommend more!</p>
        <span>3 weeks ago</span>
      </div>
    </ngx-glide>
  </div>
</div>

<!-- ngx-glide -->

<!-- <div class="max-width">
  <ngx-glide
    type="carousel"
    [autoplay]="3000"
    [perView]="3"
    [showBullets]="false"
  >
    <div style="height: 100px; background-color: green">0</div>
    <div style="height: 100px; background-color: blue">1</div>
    <div style="height: 100px; background-color: red">2</div>
    <div style="height: 100px; background-color: green">0</div>
    <div style="height: 100px; background-color: blue">1</div>
    <div style="height: 100px; background-color: red">2</div>
  </ngx-glide>
</div> -->