<div>
    <div class="banner products"></div>
</div>

<div class="max-width">
    <div class="flex flex_col text">
        <h1 class="animate__animated animate__fadeInUp">Products we love</h1>
        <p>
            We offer a wide selection of treatments for face & body, using the
            internationally recognised product brands DECLEOR & Million Dollar System.
            A consultation will be performed before every treatment, tailoring
            services to your needs.
        </p>
    </div>
</div>

<div class="products-wrapper">
    <div class="products-grid">
        <div>
            <div class="img-wrapper">
                <img src="../../../assets/images/products/million/ezgif.com-gif-maker (2).jpg" alt="">
            </div>
            <div>
                <h2>Derma Cleanse</h2>
                <p>Million Dollar Medi+ Dermacleanse daily cleanser</p>
                <p>
                    A deep cleansing product contains natural papaya fruit acid to hydrate
                    and gently exfoliate. Dermacleanse will also calm irritated skin to
                    help restore a healthy glowing complexion as well as remove excess oil
                    and damaging pollution so skin feels smooth and squeaky clean.
                </p>
            </div>
        </div>
        <div>
            <div class="img-wrapper">
                <img src="../../../assets/images/products/million/ezgif.com-gif-maker (1).jpg" alt="decleor product" />
            </div>
            <div>
                <h2>Exfoliating Scrub</h2>
                <p>
                    A luxury anti ageing wash to exfoliate and help improve the
                    complexion. Containing Glycolic and Quartz, to stimulate, condition
                    and polish skin to perfection.
                </p>
                <p>
                    A twice a week routine that will leave skin looking younger, smoother,
                    fresher with a radiant glow.
                </p>
            </div>
        </div>
        <div>
            <div class="img-wrapper">
                <img src="../../../assets/images/products/million/ezgif.com-gif-maker (1).png" alt="">
            </div>
            <div>
                <h2>Shield 50</h2>
                <p>
                    A highly effective photo-stable broad spectrum, lightweight physical
                    sunscreen, containing a combination of clinically proven filters to
                    protect the skin against the harmful effects of UV rays. It is water
                    resistance and contains clinically proven AHA's, citric and lactic
                    acid to gently increase cell turnover.
                </p>
                <p>
                    It is light and easily absorbed with a natural tint to give an even
                    appearance whilst having a hydrating effect on the skin and protecting
                    the DNA.
                </p>
            </div>
        </div>
    </div>
</div>