.products {
  background-image: url("../../../assets/images/products/products.jpg");
  background-size: auto;
  background-color: #faa8ac;
}

// animation
.fade-right {
  transform: translate(-35px, 0);
  transition: all 1.5s;
  position: relative;
  z-index: 1;
  &.on {
    transform: translate(0, 0);
  }
}
.fade-left {
  transform: translate(35px, 0);
  transition: all 1.5s;
  &.on {
    transform: translate(0, 0);
  }
}
.fadeIn {
  opacity: 0;
  transform: translate(0, 40px);
  transition: all 0.7s;
  &.on {
    opacity: 1;
    transform: translate(0, 0);
  }
}

// .products-wrapper {
//   // background-color: #faa8ac;
// }

.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 0;
  gap: 20px;
}
