.contact-img {
  background-image: url("../../../assets/images/banners/banner2.jpg");
}

.contact-details {
  padding: 0px 0 60px 0;
  display: flex;
  justify-content: space-between;
  div:nth-child(2) {
    display: flex;
  }
}

.contact {
  padding: 0px 35px;
  position: relative;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #ffd0c7;
  border-radius: 10px 80px;
  .contact-info {
    color: #333;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    h2 {
      margin-bottom: 20px;
    }
    div {
      display: flex;
      align-items: center;
      margin: 10px 0px;
      font-size: 1rem;
      svg {
        fill: #333;
        width: 20px;
        height: 20px;
        margin-right: 15px;
        display: block;
      }
    }
  }
  .contact-links {
    svg {
      fill: #333;
      width: 30px;
      height: 30px;
      display: block;
    }
    .icon {
      color: #333;
    }
  }
}

.contact-form {
  form {
    display: flex;
    flex-direction: column;
    color: #333;

    h2 {
      margin-bottom: 5px;
      color: #333;
    }

    p {
      font-size: 1rem;
      color: #333;
      font-weight: 500;
    }

    input {
      width: 100%;
      height: 50px;
      border: none;
      border-bottom: 1px solid #000;
      margin: 10px 0px;
      font-size: 14px;
      padding-left: 10px;
    }
    textarea {
      width: 100%;
      margin: 10px 0px;
      font-size: 14px;
      padding-left: 10px;
      padding-top: 5px;
      resize: none;
    }
    button {
      border: none;
      padding: 15px 20px;
      background-color: #ffcd36;
      border-radius: 6px;
      color: #585657;
      font-weight: bolder;
      cursor: pointer;
      width: fit-content;
    }
  }
}

.import-info {
  padding: 20px;
  border: solid 2px#ffcd36;
  margin-bottom: 50px;
  div {
    padding: 20px 0 0;
    color: #333;
    h3 {
      padding-bottom: 10px;
      color: #333;
    }
  }
}

::ng-deep google-map {
  .map-container {
    width: 100% !important;
    height: 400px !important;
  }
}

@media screen and (max-width: 500px) {
  .contact-details {
    padding: 45px 0;
    flex-direction: column;
  }
  .contact-form {
    padding-bottom: 20px;
  }
  .contact {
    padding: 35px;
  }
}
