.contact-details {
  // background-color: #e4e0dd !important;
  padding: 120px 0px 40px 0px;
  display: flex;
  justify-content: space-between;
  div:nth-child(2) {
    display: flex;
  }
}

.contact {
  padding: 0px 20px;
  position: relative;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .contact-info {
    color: #000;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    h2 {
      margin-bottom: 20px;
    }
    div {
      display: flex;
      align-items: center;
      margin: 10px 0px;
      font-size: 1rem;
      svg {
        fill: #000;
        width: 20px;
        height: 20px;
        margin-right: 15px;
        display: block;
      }
    }
  }
  .contact-links {
    svg {
      fill: #000;
      width: 30px;
      height: 30px;
      display: block;
    }
    .icon {
      color: #000;
    }
  }
}

.contact-form {
  form {
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 5px;
    }

    p {
      font-size: 1rem;
      font-weight: 500;
    }

    input {
      width: 100%;
      height: 50px;
      border: none;
      border-bottom: 1px solid #000;
      margin: 10px 0px;
      font-size: 14px;
      padding-left: 10px;
    }
    textarea {
      width: 100%;
      margin: 10px 0px;
      font-size: 14px;
      padding-left: 10px;
      padding-top: 5px;
      resize: none;
    }
    button {
      border: none;
      padding: 15px 20px;
      background-color: #ffcd36;
      border-radius: 6px;
      color: #585657;
      font-weight: bolder;
      cursor: pointer;
      width: fit-content;
    }
  }
}

.hours-wrapper {
  box-shadow: 0 4px 5px rgb(0 0 0 / 13%);
  margin-bottom: 30px;
}

.template-hour {
  display: grid;
  grid-template-columns: 1fr repeat(7, 130px);
  padding: 15px 0px 15px 20px;
  background: #ffcd36;
  color: #000;
  top: 95px;
  z-index: 3;
  position: sticky;
  border-radius: 4px;
  .info {
    text-align: center;
    font-size: 1rem;
  }
  .col-access {
    text-align: center;
    font-size: 1rem;
  }
}

.template-hours-info {
  display: grid;
  grid-template-columns: 1fr repeat(7, 130px);
  color: #333;
  padding: 15px 0px 15px 20px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .info {
    text-align: center;
    font-size: 1rem;
  }
}

.template-hour-sm {
  grid-template-columns: 1fr 140px;
}

.template-hours-info-sm {
  grid-template-columns: 1fr 140px;
}

::ng-deep google-map {
  .map-container {
    width: 100% !important;
    height: 400px !important;
  }
}

@media screen and (max-width: 1005px) {
  .template-hour {
    grid-template-columns: 1fr repeat(7, 110px);
  }

  .template-hours-info {
    grid-template-columns: 1fr repeat(7, 110px);
  }
}

@media screen and (max-width: 900px) {
  .template-hour {
    top: 81px;
  }
}

@media screen and (max-width: 885px) {
  .hours-wrapper {
    display: none;
  }
  .hours-wrapper-sm {
    display: block;
  }
  .template-hours-info {
    padding: 15px 20px;
    grid-template-columns: 1fr 110px;
  }
}

@media screen and (max-width: 500px) {
  .contact-details {
    padding: 100px 0px 40px 0px;
    flex-direction: column;
  }
  .contact {
    padding: 20px 0 0 0px;
  }
}

@media screen and (max-width: 425px) {
  .template-hour {
    top: 66px;
  }
}
