<nav class="nav">
  <div class="logo">
    <img class="logo" src="assets/images/shared/Logo2-removebg-previeww.png" alt="aurora beauty logo" />
  </div>
  <div class="hamburger" [ngClass]="active ? 'toggle' : ''" (click)="burger()">
    <div class="bars1"></div>
    <div class="bars2"></div>
    <div class="bars3"></div>
  </div>
  <ul class="nav-links" [ngClass]="active ? 'open' : ''">
    <li [ngClass]="active ? 'fade' : ''" [routerLinkActive]="['is-active']">
      <a routerLink="/home" (click)="setNav()">Home</a>
    </li>
    <li [ngClass]="active ? 'fade' : ''" [routerLinkActive]="['is-active']">
      <a routerLink="/about" (click)="setNav()">About Us</a>
    </li>
    <div class="dropdown-wrapper">
      <li class="treatments">
        <a (click)="setNav()">Treatments</a>
      </li>
      <div class="dropdown open">
        <a routerLink="/hands">Hands & Feet</a>
        <a routerLink="/lashes">Lashes & Brows</a>
        <a routerLink="/waxing">Waxing</a>
        <a routerLink="/massage">Masssage</a>
        <a routerLink="/skincare">Advanced Facials</a>
      </div>
    </div>
    <li [ngClass]="active ? 'fade' : ''" [routerLinkActive]="['is-active']" class="mobile">
      <a routerLink="/hands" (click)="setNav()">Hands & Feet</a>
    </li>
    <li [ngClass]="active ? 'fade' : ''" [routerLinkActive]="['is-active']" class="mobile">
      <a routerLink="/lashes" (click)="setNav()">Lashes & Brows</a>
    </li>
    <li [ngClass]="active ? 'fade' : ''" [routerLinkActive]="['is-active']" class="mobile">
      <a routerLink="/waxing" (click)="setNav()">Waxing</a>
    </li>
    <li [ngClass]="active ? 'fade' : ''" [routerLinkActive]="['is-active']" class="mobile">
      <a routerLink="/massage" (click)="setNav()">Massage</a>
    </li>
    <li [ngClass]="active ? 'fade' : ''" [routerLinkActive]="['is-active']" class="mobile">
      <a routerLink="/skincare" (click)="setNav()">Advanced Facials</a>
    </li>
    <li [ngClass]="active ? 'fade' : ''" [routerLinkActive]="['is-active']">
      <a routerLink="/products" (click)="setNav()">Products</a>
    </li>
    <li [ngClass]="active ? 'fade' : ''" [routerLinkActive]="['is-active']">
      <a routerLink="/contact" (click)="setNav()">Contact</a>
    </li>
    <!-- <li [ngClass]="active ? 'fade' : ''">
      <a class="contact-button" href="https://aurorabeautyclitheroe.book.app/book-now" target="_blank">Book now</a>
    </li> -->
  </ul>
</nav>