nav {
  position: fixed;
  z-index: 10;
  top: 0px;
  display: flex;
  width: 100%;
  color: #585657;
  // height: 6.6rem;
  justify-content: space-between;
  align-items: center;
  transition: all ease-in-out 400ms;
  &.nav-color {
    color: #eee;
    background-color: #585657;
  }
}

.logo {
  img {
    height: 75px;
    display: block;
    padding-left: 20px;
    padding-bottom: 5px;
  }
}

/* Styling Navigation Links*/
.nav-links {
  display: flex;
  padding: 0 12px;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  font-weight: var(--font-bold);
}

.nav-links li a {
  margin: 0 0.7vw;
  text-decoration: none;
  padding: 10px 12px;
  margin: 0;
  height: 97px;
  display: flex;
  align-items: center;
  font-weight: var(--font-bold);
}

.nav-links li {
  position: relative;
  height: 97px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &.nav-link-color:hover {
    color: #ffcd36;
    transition: all ease-in-out 400ms;
  }
  &.nav-link-color::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto;
    width: 20%;
    border-bottom: 3px solid;
    z-index: 1;
    opacity: 0;
    transition: width 0.5s ease, opacity 0.3s ease;
  }
  &.nav-link-color:hover:nth-child(7)::after {
    content: none;
  }
  &.nav-link-color:hover::after {
    width: 100%;
    opacity: 1;
  }
  &.nav-link-color.is-active {
    color: #ffcd36;
  }
  &.nav-link-color.is-active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto;
    top: 3em;
    width: 100%;
    border-bottom: 3px solid;
    z-index: 1;
    opacity: 1;
  }
}

.nav-links li a:hover::before {
  width: 80%;
}

/*Navigation Icon Styling*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}

// dropdown
ul .dropdown-wrapper {
  position: relative;
  // pointer-events: none;
  cursor: pointer;

  &.allow {
    pointer-events: all;
  }
}

ul .dropdown {
  display: none;
  position: absolute;
  width: 185px;
  background-color: #585657;
  color: var(--color-text-main);
  right: -35px;
  top: 85px;
  padding: 5px;
  border-radius: 5px;
  z-index: 5;
}

ul .dropdown-wrapper:hover .dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul .dropdown a {
  padding: 8px 10px;
  margin: 2px 0;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  text-transform: none;
  width: 100%;
  justify-content: center;
  height: auto;
  &.is-active {
    color: #585657;
    background-color: #ffcd36;
  }
}

ul .dropdown a:hover {
  color: #585657;
  background-color: #ffcd36;
}

// burger
.hamburger {
  display: none;
}

.mobile {
  display: none !important;
}

/*Responsive Adding Media Queries*/
@media only screen and (max-width: 976px) {
  nav {
    a {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    position: fixed;
    justify-content: space-between;
    &.nav-color {
      padding-bottom: 11px;
      padding-top: 7px;
    }
    a {
      font-weight: 400 !important;
      font-size: 1.3rem;
    }
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .nav-links {
    li {
      height: auto;
      a {
        height: auto;
        padding: 14px;
      }
    }
  }

  .nav-links {
    background: #585657;
    color: #eee;
    position: fixed;
    opacity: 1;
    z-index: 1;
    top: 0;
    height: 100vh;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
    padding-top: 50px;
  }
  .nav-links.open {
    clip-path: circle(1310px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
    // margin-bottom: 20px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(8) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(9) {
    transition: all 0.5s ease 0.5s;
  }
  .nav-links li:nth-child(10) {
    transition: all 0.5s ease 0.5s;
  }

  li.fade {
    opacity: 1 !important;
  }

  ul .dropdown-wrapper {
    display: none;
    flex-direction: column;
    .skincare {
      display: none !important;
    }
  }

  .mobile {
    display: flex !important;
  }

  ul .dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 200px;
    background-color: #585657;
    right: 0;
    top: 0;
    padding: 0px;
    a {
      color: #fff;
    }
  }

  /* Navigation Bar Icon on Click*/
  .toggle .bars1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .bars2 {
    transition: all 0s ease;
    width: 0;
  }

  .toggle .bars3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .logo {
    img {
      padding-left: 15px;
    }
  }
}

@media screen and (max-width: 425px) {
  .logo {
    img {
      height: 60px;
    }
  }
}
