.home-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  border-bottom-left-radius: 6px;
  .home-block-info {
    border-bottom-left-radius: 6px;
    text-align: center;
    .close {
      display: flex;
      justify-content: flex-end;
      margin: 0;
      button {
        background-color: #fff;
        border: solid 2px #edb200;
        padding: 8px 12px;
        color: #edb200;
        font-size: 1rem;
        border-radius: 6px;
        font-weight: 600;
        cursor: pointer;
      }
    }
    span {
      color: #edb200;
    }
    div {
      margin-bottom: 15px;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      .video {
        text-decoration: underline;
        font-weight: 600;
        margin: 0 3px;
      }
    }
    .treatment-button {
      display: flex;
      justify-content: center;
      a {
        span {
          color: #000;
        }
        svg {
          width: 30px;
          height: 30px;
          display: block;
        }
        &:hover {
          span {
            color: #fff;
          }
        }
      }
    }
  }
  h2 {
    margin-bottom: 15px;
  }
}

::ng-deep {
  .mat-dialog-container {
    padding: 50px;
  }
  @media screen and (max-width: 775px) {
    .mat-dialog-container {
      padding: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .home-block {
    .home-block-info {
      .close {
        button {
          font-size: 0.9rem;
        }
      }
      div {
        font-size: 0.9rem;
      }
    }
    h2 {
      font-size: 1.3rem;
    }
  }
}
