<div>
    <div class="banner treatments"></div>
</div>

<div class="max-width">
    <div class="body">
        <div class="container">
            <div class="logo animation fadeIn">
                <img src="../../../assets/images/products/million/million-dollar-facial-logo.png" alt="">
            </div>
            <div>
                <h2>MILLION DOLLAR FACIAL 1 HOUR - £120 (Special offer £90)</h2>
                <p>A luxurious facial where science meets indulgence. Working your skin from the outside in, this
                    treatment
                    has
                    been designed to deeply exfoliate dead skin cells and remove non terminal hair, polish the skin,
                    flush
                    toxins, increase and stimulate our natural collagen and cell turnover.</p>
            </div>
            <div>
                <p>This treatment includes a lymphatic massage with Ice globs, leaving you looking and feeling a million
                    dollars! </p>
                <h3>Treatment Benefits:</h3>
                <div class="container-flex">
                    <ul>
                        <li><span class="material-icons">done</span> Elevated absorption levels of up to 80%</li>
                        <li><span class="material-icons">done</span> Brighter skin</li>
                        <li><span class="material-icons">done</span> Professional skin analysis</li>
                        <li><span class="material-icons">done</span> Smoother skin</li>
                        <li><span class="material-icons">done</span> Increased hydration levels with a Million Dollar
                            Mask
                        </li>
                        <li><span class="material-icons">done</span> Flawless makeup application</li>
                        <li><span class="material-icons">done</span> Reduces scarring</li>
                        <li><span class="material-icons">done</span> Firmer skin</li>
                    </ul>
                    <ul>
                        <li><span class="material-icons">done</span> Increases collagen production</li>
                        <li><span class="material-icons">done</span> Removes 3 to 4 weeks worth of dead skin cells</li>
                        <li><span class="material-icons">done</span> Lymphatic drainage removes built up toxins</li>
                        <li><span class="material-icons">done</span> Glowing, even skin tone</li>
                        <li><span class="material-icons">done</span> Reduces pigmentation inc (PIH)</li>
                        <li><span class="material-icons">done</span> Thickens the epidermis over time to reduce
                            appearance
                            of
                            broken capillaries</li>
                    </ul>
                    <div>
                        <img src="../../../assets/images/treatments/face.jpg" alt="">
                    </div>
                </div>
                <div class="blocks">
                    <div>
                        <p>A course of 4 treatments is advised, although results will show after just one treatment. One
                            session
                            every 4
                            to 6 weeks will give maximum results.</p>
                    </div>
                    <div>
                        <p>Microneedling & Dermaplaning can be booked as separate facials (see below) </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h2>MILLION DOLLAR MICRO-NEEDLING FACIAL 1 HOUR - £75 (Special offer £65)</h2>
            <div class="container-flex">
                <div>
                    <p>The aim of our Million Dollar micro needling treatment is to traumatise the skin without
                        collateral
                        damage to
                        the epidermis and healthy skin tissue. The recovery is rapid, with very little downtime, pain or
                        discomfort.
                    </p>
                    <p>Million dollar micro needling is used to treat and improve conditions like acne scarring, fine
                        lines and
                        wrinkles, loose skin, skin texture, pore size, brown spots, stretch marks, and pigment issues.
                    </p>
                </div>
                <img src="../../../assets/images/treatments/microNeedle.jpg" alt="">
            </div>

            <div class="blocks">
                <div>
                    <p>Working with our bespoke products with full clinical evidence the products and treatment combined
                        are
                        a
                        real
                        powerhouse for results.</p>
                </div>
                <div>
                    <p>Working with our bespoke products with full clinical evidence the products and treatment combined
                        are
                        a
                        real
                        powerhouse for results.</p>
                </div>
            </div>
        </div>

        <div class="container">
            <h2>MILLION DOLLAR DERMAPLANE FACIAL 1 HOUR - £50</h2>
            <div class="container-flex">
                <div>
                    <p>Million dollar Dermaplaning is a manual exfoliation cosmetic procedure that gently abrades the
                        top layers
                        of
                        the skin using a surgical blade with our industry leading Million dollar professional skin care
                        products.
                        The procedure aims to increase the absorption of skincare /topical products and diminish fine
                        lines and
                        wrinkles. The treatment stimulates collagen synthesis and creates a healthy glow and a radiant
                        complexion.
                    </p>
                    <p>Dermaplane aims to make your skins surface smooth, youthful and radiant. It is also used to
                        remove “peach
                        fuzz” the short soft vellus non terminal hair from your face. </p>
                    <p>Dermaplaning removes up to 3 x times more dead skin cells than a microdermabrasion treatment.</p>
                </div>
                <img src="../../../assets/images/treatments/dermaplaning.jpg" alt="">
            </div>

            <div class="blocks">
                <div>
                    <p>Course of 4 - £180</p>
                </div>
                <div>
                    <p>ADD CASMARA 24K GOLD JELLY MASK - £10</p>
                </div>
                <div>
                    <p>ADD MILLION DOLLAR MIRACLE MASK - £10</p>
                </div>
            </div>
            <div>
            </div>
        </div>

        <div class="container">
            <h2>THE MINI MILLION DOLLAR FACIAL 30 MINS - £40 (Special offer £35)</h2>
            <p>Brighten skin in minutes with The Mini Million Dollar facial. Totally particle free and pain free this
                instant enzymatic peeling gel quickly removes dead skin cells, removes impurities, clears clogged pores
                and
                helps regenerate new skin. Enjoy a prescriptive mask and facial massage.</p>
        </div>

        <div class="container">
            <h2>THE MIRACLE MASK FACIAL 1 HOUR - £60 (Special offer £55) </h2>
            <p>The groundbreaking facial mask packed with clinically proven ingredients. This multi-functional treatment
                is
                designed to work miracles leaving the skin firmer, tighter and brighter in just one session.</p>
            <p>This hour-long facial includes a neck and shoulder massage that leaves you feeling relaxed and
                rejuvenated. A
                must-have facial before any big event.</p>
            <p>The magic of the Miracle Mask shows the peptides and antioxidants to tighten and firm the skin. The
                formula
                stimulates plasma into the deeper levels of the skin in order to enhance cellular renewal. By helping to
                promote Keratinocytes, collagen and elastin, the skin can remove impurities and provide a youthful
                appearance.</p>
            <p>Developed to make you feel a Million Dollars every day…. So this works fantastically when we incorporate
                it
                as a weekly treatment.</p>
            <p>Immediate results last up to 7 days with post ongoing results when used alongside complimentary weekly
                treatments. A course of 4-6 treatments will see the full benefit of optimum, lasting results.</p>
            <p>Add Dermaplaning £5</p>
        </div>

        <div class="container">
            <h2>MILLION DOLLAR SUPERFACIAL TREATMENTS 1 HOUR - £50</h2>
            <div class="container-flex">
                <div>
                    <h3>Glow Superfacial</h3>
                    <p>A luxurious facial combining Million Dollar Vit c10 and Ice globes.</p>
                    <p>Million Dollar Superfacial Vit C10 is a powerful antioxidant containing L-ascorbic acid at 10%,
                        which has
                        been clinically proven to help clear free radicals caused by ageing, lifestyle and pollution.
                        These free
                        radicals also damage small blood vessels which carry vital nutrients to the skin.</p>
                    <p>Using Million Dollar Superfacial VitC10 will help fight these radicals, improve blood flow to the
                        skin to
                        preserve collagen, leaving skin looking more radiant and your complexion more youthful. </p>
                    <h3>Hydrate Superfacial</h3>
                    <p>A powerful, high concentration of 15 % hyaluronic acid. A humectant to attract moisture from the
                        blood
                        vessels into the skin.</p>
                    <p>Suitable for use on all skin types, the serum absorbs quickly to hydrate and keep skin supple.
                        The active
                        serum will help to reduce the appearance of fine lines and wrinkles whilst promoting an even
                        skin tone
                        and a
                        youthful complexion. Optimal skin hydration helps to heal and soothe inflammation.</p>
                    <p>The products will help to increase the flow of nutrients between cells and helps to flush out
                        toxins for
                        a
                        healthier complexion.</p>
                </div>
                <img src="../../../assets/images/products/million/faceBalls.jpg" alt="">
            </div>
            <h3>The key features of the ICE GLOBES:</h3>
            <div class="container-flex">
                <ul>
                    <li><span class="material-icons">done</span>
                        Eliminates redness and calms skin after waxing, extractions ,skin peels , dermaplaning and
                        microdermabrasion treatments.</li>
                    <li><span class="material-icons">done</span> Stimulates blood circulation and oxygenates the skin.
                    </li>
                    <li><span class="material-icons">done</span> Excellent treatment for anybody with sinus problems,
                        puffy
                        eyes, headaches and migraines.</li>
                    <li><span class="material-icons">done</span> Stimulates the nerves and exercises facial muscles.
                    </li>


                </ul>
                <ul>
                    <li><span class="material-icons">done</span> Helps to reduce the appearance of large pores.</li>
                    <li><span class="material-icons">done</span> A great primer for makeup</li>
                    <li><span class="material-icons">done</span> Tightens skin and eliminates fine lines.</li>
                    <li><span class="material-icons">done</span> Provides a cool and luxurious finish to any facial and
                        is
                        the perfect tool for lymphaticdrainage massage.</li>
                </ul>
            </div>
        </div>

        <div class="container">
            <h2>MILLION DOLLAR DERMAPLANE FACIAL 1 HOUR - £50</h2>
            <p>Million dollar Dermaplaning is a manual exfoliation cosmetic procedure that gently abrades the top layers
                of
                the
                skin using a surgical blade with our industry leading Million dollar professional skin care products.
                The
                procedure aims to increase the absorption of skincare /topical products and diminish fine lines and
                wrinkles.
                The treatment stimulates collagen synthesis and creates a healthy glow and a radiant complexion.</p>
            <p>Dermaplane aims to make your skins surface smooth, youthful and radiant. It is also used to remove “peach
                fuzz”
                the short soft vellus non terminal hair from your face. </p>
            <p>Dermaplaning removes up to 3 x times more dead skin cells than a microdermabrasion treatment.</p>
        </div>
    </div>

    <div class="body">
        <div class="logo">
            <img src="../../../assets/images/products/decleor/Decleor_Logo.png" alt="">
        </div>
        <div class="container">
            <div>
                <h2>Decleor Ultimate Vitamin Glow</h2>
                <p>Discover what makes Decléor facials world famous with this divine 'taster'. When you're short of time
                    but want to bring back an irresistibly healthy complexion, this is the perfect rescue remedy. For
                    rapid results, your expert therapist uses a combination of massage, essential oils and a gentle
                    polish to smooth and revitalise tired skin leaving it fresh and radiant instead.</p>
            </div>
            <div class="blocks">
                <div>
                    <p>Vitamin Glow Facial - 30min</p>
                    <p>£30</p>
                </div>
                <div>
                    <p>Vitamin Glow Facial - 60min</p>
                    <p>£40</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div>
                <h2>Decleor Advanced Anti-Ageing</h2>
                <p>Power packed with vitamins and antioxidants, this award winning facial melts away stress. Combines a
                    rebalancing Essential Oil elixir plus warm, decongesting mask for skin that’s purified, perfectly
                    replenished and glowing.</p>
            </div>
            <div class="blocks">
                <div>
                    <p>Smooth & Glow - 1hour 15min</p>
                    <p>£50</p>
                </div>
                <div>
                    <p>Sculpt & Rejuvenate - 1hour 15min</p>
                    <p>£55</p>
                </div>
                <div>
                    <p>Plump & Lift - 1hour 15min</p>
                    <p>£55</p>
                </div>
            </div>
        </div>
    </div>
</div>