<div>
    <div class="banner treatments"></div>
</div>

<div>
    <div>
        <h2>MILLION DOLLAR FACIAL 1 HOUR - £120 (Special offer £90)</h2>
        <p>A luxurious facial where science meets indulgence. Working your skin from the outside in, this treatment has
            been designed to deeply exfoliate dead skin cells and remove non terminal hair, polish the skin, flush
            toxins, increase and stimulate our natural collagen and cell turnover.</p>
    </div>
    <div>
        <p>This treatment includes a lymphatic massage with Ice globs, leaving you looking and feeling a million
            dollars! </p>
        <ul>
            <li>Benefits:</li>
            <li>* Elevated absorption levels of up to 80%</li>
            <li>* Brighter skin</li>
            <li>* Professional skin analysis</li>
            <li>* Smoother skin</li>
            <li>* Increased hydration levels with a Million Dollar Mask</li>
            <li>* Flawless makeup application</li>
            <li>* Reduces scarring</li>
            <li>* Firmer skin</li>
        </ul>
        <ul>
            <li>* Increases collagen production</li>
            <li>* Removes 3 to 4 weeks worth of dead skin cells</li>
            <li>* Thickens the epidermis over time to reduce appearance of broken capillaries</li>
            <li>* Lymphatic drainage removes built up toxins</li>
            <li>* Glowing, even skin tone</li>
            <li>* Reduces pigmentation inc (PIH)</li>
        </ul>
        <p>A course of 4 treatments is advised, although results will show after just one treatment. One session every 4
            to 6 weeks will give maximum results.</p>
        <p>Microneedling & Dermaplaning can be booked as separate facials (see below) </p>
    </div>
</div>

<div>
    <h2>MILLION DOLLAR MICRO-NEEDLING FACIAL 1 HOUR - £75 (Special offer £65)</h2>
    <p>The aim of our Million Dollar micro needling treatment is to traumatise the skin without collateral damage to
        the epidermis and healthy skin tissue. The recovery is rapid, with very little downtime, pain or discomfort.
    </p>
    <p>Million dollar micro needling is used to treat and improve conditions like acne scarring, fine lines and
        wrinkles, loose skin, skin texture, pore size, brown spots, stretch marks, and pigment issues.</p>
    <p>Working with our bespoke products with full clinical evidence the products and treatment combined are a real
        powerhouse for results.</p>
    <p>Working with our bespoke products with full clinical evidence the products and treatment combined are a real
        powerhouse for results.</p>
</div>

<div>
    <h2>MILLION DOLLAR DERMAPLANE FACIAL 1 HOUR - £50</h2>
    <p>Million dollar Dermaplaning is a manual exfoliation cosmetic procedure that gently abrades the top layers of the
        skin using a surgical blade with our industry leading Million dollar professional skin care products. The
        procedure aims to increase the absorption of skincare /topical products and diminish fine lines and wrinkles.
        The treatment stimulates collagen synthesis and creates a healthy glow and a radiant complexion.</p>
    <p>Dermaplane aims to make your skins surface smooth, youthful and radiant. It is also used to remove “peach fuzz”
        the short soft vellus non terminal hair from your face. </p>
    <p>Dermaplaning removes up to 3 x times more dead skin cells than a microdermabrasion treatment.</p>
</div>

<div>
    <h2>Decleor Facials</h2>
    <div class="relative template-wrapper">
        <div class="template-header">
            <div class="col-title">Decleor Ultimate Vitamin Glow</div>
            <div class="col-access">Lauren</div>
            <div class="col-access">Melissa</div>
        </div>
        <div class="template-info">
            <div>Vitamin Glow Facial - 30min</div>
            <div class="info">£30</div>
            <div class="info">£30</div>
        </div>
        <div class="template-info">
            <div>Vitamin Glow Facial - 60min</div>
            <div class="info">£40</div>
            <div class="info">£40</div>
        </div>
    </div>

    <div class="relative template-wrapper">
        <div class="template-header pink">
            <div class="col-title">Decleor Advanced Anti-Ageing</div>
            <div class="col-access">Lauren</div>
            <div class="col-access">Melissa</div>
        </div>
        <div class="template-info">
            <div>Smooth & Glow - 1hour 15min</div>
            <div class="info">£50</div>
            <div class="info">£50</div>
        </div>
        <div class="template-info">
            <div>Plump & Lift - 1hour 15min</div>
            <div class="info">£55</div>
            <div class="info">£55</div>
        </div>
        <div class="template-info">
            <div>Sculpt & Rejuvenate - 1hour 15min</div>
            <div class="info">£55</div>
            <div class="info">£55</div>
        </div>
    </div>
</div>