<div>
  <div class="banner treatments"></div>
</div>

<div class=" max-width">
  <div class="brands">
    <a routerLink="/skincare/million" [routerLinkActive]="['is-active']">Million Dollar Facial</a>
    <a routerLink="/skincare/decleor" [routerLinkActive]="['is-active']">Decleor</a>
    <a routerLink="/skincare/skinbase" [routerLinkActive]="['is-active']">SkinBase</a>
  </div>
  <div class="animation fade">
    <div class="logo">
      <img src="../../../assets/images/products/decleor/Decleor_Logo.png" alt="">
    </div>

    <div class="section">
      <div class="container">
        <h2>Decleor Ultimate Vitamin Glow</h2>
        <div class="container-flex">
          <div class="container-text">
            <p>Discover what makes Decléor facials world famous with this divine 'taster'. When you're short of
              time
              but want to bring back an irresistibly healthy complexion, this is the perfect rescue remedy.
            </p>
            <p>For
              rapid results, your expert therapist uses a combination of massage, essential oils and a gentle
              polish to smooth and revitalise tired skin leaving it fresh and radiant instead.</p>
            <p>Power packed with vitamins and antioxidants, this award winning facial melts away stress.
              Combines a
              rebalancing Essential Oil elixir plus warm, decongesting mask for skin that’s purified,
              perfectly
              replenished and glowing.</p>
            <div class="blocks">
              <div class="animation fadeIn">
                <p>Vitamin Glow Facial - 30 minutes</p>
                <h4>£30</h4>
              </div>
              <div class="animation fadeIn-slow">
                <p>Vitamin Glow Facial - 60 minutes</p>
                <h4>£40</h4>
              </div>
            </div>
          </div>
          <div class="img-6">
            <img src="../../../assets/images/treatments/glow.jpg" alt="">
          </div>
        </div>
      </div>

      <!-- <div class="container">
        <h2>Decleor Advanced Anti-Ageing</h2>
        <div class="container-flex">
            <div class="container-text">

                <div class="block animation fade-right">
                    <div>
                        <p>Smooth & Glow - 1hour 15min</p>
                        <h4>£50</h4>
                    </div>
                </div>
            </div>
            <div class="img-5">
                <img src="../../../assets/images/treatments/anti-ageing.jpg" alt="">
            </div>
        </div>
        <div class="blocks">
            <div class="animation fadeIn">
                <p>Sculpt & Rejuvenate - 1hour 15min</p>
                <h4>£55</h4>
            </div>
            <div class="animation fadeIn-slow">
                <p>Plump & Lift - 1hour 15min</p>
                <h4>£55</h4>
            </div>
        </div>
    </div> -->
    </div>
  </div>
</div>