<div>
  <div class="banner treatments"></div>
</div>

<div class="max-width">

  <div class="flex flex_col text">
    <h1 class="animate__animated animate__fadeInUp">Waxing</h1>
    <p>Regular waxing helps to soften and lessen hair growth. We use gentle Tea Tree wax to remove unwanted hair. Lasts
      4
      - 6 weeks.</p>
  </div>

  <section>
    <div class="grid grid-3 m">
      <div>
        <h3>Lip</h3>
        <div class="block animation fadeIn">
          <div>
            <p>15 minutes</p>
            <h4>£6.50</h4>
          </div>
        </div>
      </div>
      <div>
        <h3>Chin</h3>
        <div class="block animation fadeIn-slow">
          <div>
            <p>15 minutes</p>
            <h4>£6.50</h4>
          </div>
        </div>
      </div>
      <div>
        <h3>Lip & Chin</h3>
        <div class="block animation fadeIn-slower">
          <div>
            <p>15 minutes</p>
            <h4>£12</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-2 m">
      <div>
        <h3>Underarm</h3>
        <div class="block animation fadeIn">
          <div>
            <p>15 minutes</p>
            <h4>£8.50</h4>
          </div>
        </div>
      </div>
      <div>
        <h3>Bikini</h3>
        <div class="block animation fadeIn-slow">
          <div>
            <p>15 minutes</p>
            <h4>£8.50</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-2">
      <div>
        <h3>Half leg</h3>
        <div class="block animation fadeIn">
          <div>
            <p>30 minutes</p>
            <h4>£16.50</h4>
          </div>
        </div>
      </div>
      <div>
        <h3>Full leg</h3>
        <div class="block animation fadeIn-slow">
          <div>
            <p>60 minutes</p>
            <h4>£22</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>