<div>
  <div class="banner treatments"></div>
</div>

<div class="max-width">

  <div class="flex flex_col text">
    <h1 class="animate__animated animate__fadeInUp">Waxing</h1>
    <p>Regular waxing helps to soften and lessen hair growth. We use gentle Tea Tree wax to remove unwanted hair. Last 4
      -
      6 weeks</p>
  </div>


  <div class="treatment-block">
    <div class="treatment-inner">
      <section id="waxing" class="template-wrapper">
        <div class="template-header">
          <h2>Waxing</h2>
        </div>
        <div class="template-info">
          <div>Lip</div>
          <div class="info">£6.50</div>
        </div>
        <div class="template-info">
          <div>Chin</div>
          <div class="info">£6.50</div>
        </div>
        <div class="template-info">
          <div>Lip & Chin</div>
          <div class="info">£12</div>
        </div>
        <div class="template-info">
          <div>Underarm</div>
          <div class="info">£8.50</div>
        </div>
        <div class="template-info">
          <div>Bikini</div>
          <div class="info">£8.50</div>
        </div>
        <div class="template-info">
          <div>Half leg</div>
          <div class="info">£16.50</div>
        </div>
        <div class="template-info">
          <div>Full leg</div>
          <div class="info">£22</div>
        </div>
      </section>
    </div>
  </div>
</div>