.nails {
  background-image: url("../../../assets/images/products/nails.jpg");
  background-size: auto;
  background-color: #f4c8bd;
}

.padding {
  padding-bottom: 10px;
}

.list-grid {
  display: grid;
  grid-template-columns: 340px 1fr;
  padding-bottom: 15px;
  ul {
    padding: 0;
  }
}

ul {
  flex: 1;
  li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 7px;
    line-height: 1.4em;
    span {
      margin-right: 5px;
      color: #ebbdbd;
    }
  }
}

.block-prices {
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  h4 {
    margin: 0;
    span {
      font-weight: 400;
      font-size: 1.4rem;
    }
  }
}

.block-sm-prices {
  h4 {
    margin: 0;
    span {
      font-weight: 400;
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 530px) {
  ul {
    padding-bottom: 20px;
  }
  .list-grid {
    grid-template-columns: 1fr;
  }

  .block-prices {
    flex-direction: column;
    gap: 0px;
  }
}
