<div>
  <div class="banner nails"></div>
</div>

<div class="max-width">
  <div class="flex flex_col text">
    <h1 class="animate__animated animate__fadeInUp">Hands & Feet</h1>
    <p>Take care of your hands and feet with our bespoke treatments suited to your needs. We only use the best quality
      products for the perfect finish to our manicures and pedicures.</p>
  </div>

  <div>
    <div class="grid grid-2">
      <div class="flex flex_col">
        <h2>Manicure</h2>
        <div>
          <p class="padding">Includes hand and arm massage, cuticle care, nail shaping finished with application of
            polish.</p>
          <div class="block animation fadeIn">
            <div>
              <p>45 minutes</p>
              <h4>£20</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex_col">
        <h2>Pedicure</h2>
        <div>
          <p class="padding">Includes foot soak, removal of hard skin, cuticle care, foot and leg massage, nail
            shaping finished with
            application of polish.</p>
          <div class="block animation fadeIn-slow">
            <div>
              <p>45 minutes</p>
              <h4>£23</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section>
      <div class="flex">
        <div style="flex: 1;">
          <h2>Gel Polish</h2>
          <ul>
            <li><span class="material-icons">done</span>2 - 3 weeks extended wear</li>
            <li><span class="material-icons">done</span>Chip resistent, durable and flexible</li>
            <li><span class="material-icons">done</span>No smudge</li>
            <li><span class="material-icons">done</span>Available in colours, French Polish and clear</li>
          </ul>
        </div>
        <img src="../../../assets/images/bottle-removebg-preview.png" alt="">
      </div>

      <div class="grid grid-4">
        <div class="block animation fadeIn">
          <div>
            <p>Gel Polish fingers or toes - 45min</p>
            <h4>£23</h4>
          </div>
        </div>

        <div class="block animation fadeIn-slow">
          <div>
            <p>Gel Polish with manicure</p>
            <h4>+ £7</h4>
          </div>
        </div>

        <div class="block animation fadeIn-slower">
          <div>
            <p>Gel Polish with pedicure</p>
            <h4>+ £10</h4>
          </div>
        </div>

        <div class="block animation fadeIn-slower">
          <div>
            <p>Gel Polish removal</p>
            <h4>+ £4</h4>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h2>BIAB (Builder in a bottle)</h2>
      <div class="list-grid">
        <ul>
          <li><span class="material-icons">done</span>Adds strength to natural nail</li>
          <li><span class="material-icons">done</span>Can help you grow long natural nails</li>
        </ul>
        <ul>
          <li><span class="material-icons">done</span>Can be soaked off or infilled</li>
          <li><span class="material-icons">done</span>Vegan and cruelty free</li>
        </ul>
      </div>
      <div class="grid grid-3">
        <div class="block animation fadeIn">
          <div>
            <p>BIAB plain overlay - 45min</p>
            <h4>£25</h4>
          </div>
        </div>
        <div class="block animation fadeIn-slow ">
          <div>
            <p>BIAB overlay & colour Gel Polish - 60min</p>
            <h4>£26</h4>
          </div>
        </div>
        <div class="block animation fadeIn-slower">
          <div>
            <p>BIAB removal - 45min</p>
            <h4>+ £4</h4>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h2>Extras</h2>
      <p class="padding">Nail add ons.</p>
      <div class="grid grid-2">
        <div class="block animation fadeIn">
          <div>
            <p>Nail art/ Glitter/ French - 45min</p>
            <h4 class="info">£2</h4>
          </div>
        </div>
        <div class="block animation fadeIn">
          <div>
            <p>Gel Polish removal & recondition - 30min</p>
            <h4>£10</h4>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- <div class="treatment-block">
    <div class="treatment-inner">
      <section id="hands" class="template-wrapper">
        <div class="template-header">
          <h2>Hands & Feet</h2>
        </div>
        <div class="template-info">
          <div>Manicure - 45min</div>
          <div class="info">£20</div>
        </div>
        <div class="template-info">
          <div>Pedicure - 45min</div>
          <div class="info">£23</div>
        </div>
        <div class="template-info">
          <div>Gel Polish fingers or toes - 45min</div>
          <div class="info">£23</div>
        </div>

        <div class="template-info">
          <div>Gel Polish with manicure</div>
          <div class="info">+ £7</div>
        </div>
        <div class="template-info">
          <div>Gel Polish with pedicure</div>
          <div class="info">+ £10</div>
        </div>
        <div class="template-info">
          <div>Gel Polish removal</div>
          <div class="info">+ £4</div>
        </div>
        <div class="template-info">
          <div>BIAB plain overlay - 45min</div>
          <div class="info">£25</div>
        </div>
        <div class="template-info">
          <div>BIAB overlay & colour gel polish - 60min</div>
          <div class="info">£26</div>
        </div>
        <div class="template-info">
          <div>BIAB removal - 45min</div>
          <div class="info">+ £4</div>
        </div>
        <div class="template-info">
          <div>Nail art/ glitter/ french - 45min</div>
          <div class="info">£2</div>
        </div>
        <div class="template-info">
          <div>Gel Polish removal & recondition - 30min</div>
          <div class="info">£10</div>
        </div>
      </section>
    </div>
  </div> -->
</div>

<div class="gallery-container">
  <div class="gallery-grid">
    <div class="gallery-grid__div">
      <img src="../../../assets/images/treatments/nails/nails1.jpg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/treatments/nails/nails4.jpg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/treatments/nails/nails5.jpeg" alt="" class="gallery-img">
    </div>

    <!-- <div class="gallery-grid__div">
      <img src="../../../assets/images/treatments/nails/nails6.jpg" alt="" class="gallery-img">
    </div> -->

    <div class="gallery-grid__div">
      <img src="../../../assets/images/treatments/nails/nails7.jpg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/treatments/nails/nails8.jpg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/treatments/nails/nails3.jpg" alt="" class="gallery-img">
    </div>

    <!-- <div class="gallery-grid__div">
      <img src="../../../assets/images/treatments/nails/nails9.jpg" alt="" class="gallery-img">
    </div> -->
  </div>
</div>