.treatments {
  background-image: url("../../../assets/images/products/nails.jpg");
  background-size: auto;
  background-color: #f4c8bd;
}

.padding {
  padding-bottom: 10px;
}

.list-grid {
  display: grid;
  grid-template-columns: 340px 1fr;
  padding-bottom: 15px;
  ul {
    padding: 0;
  }
}

ul {
  flex: 1;
  li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 7px;
    line-height: 1.4em;
    span {
      margin-right: 5px;
      color: #ebbdbd;
    }
  }
}

@media screen and (max-width: 530px) {
  ul {
    padding-bottom: 20px;
  }
  .list-grid {
    grid-template-columns: 1fr;
  }
}
