<div>
  <div class="banner treatments"></div>
</div>

<div class="max-width">
  <div class="flex flex_col text">
    <h1 class="animate__animated animate__fadeInUp">Hands & Feet</h1>
  </div>

  <div>
    <p>Our revitalising organic manicure includes an uplifting aromatherapy infused exfoliation, deeply nourishing hot
      mitt masque, relaxing hand and arm massage. Your nails are then tided, shaped, buffed and polished to perfection
      with your choice of The Gel Bottle Gel or Vinylux Polish.</p>
  </div>

  <div>
    <p>This treat for the feet includes an aromatic foot soak, revitalising buff and exfoliation, deeply replenishing
      hot
      mitt masque followed by a soothing leg and foot massage. Your nails are then tided, shaped, buffed and polished to
      perfection with your choice of The Gel Bottle Gel or Vinylux Polish.</p>
  </div>

  <div>
    A revolutionary gel polish that delivers rich, highly pigmented, chip resistant colours with an extremely long
    lasting
    shine..


  </div>

  <div class="treatment-block">
    <div class="treatment-inner">
      <section id="hands" class="template-wrapper">
        <div class="template-header">
          <h2>Hands & Feet</h2>
        </div>
        <div class="template-info">
          <div>Manicure - 45min</div>
          <div class="info">£20</div>
        </div>
        <div class="template-info">
          <div>Pedicure - 45min</div>
          <div class="info">£23</div>
        </div>
        <div class="template-info">
          <div>Gel Polish fingers or toes - 45min</div>
          <div class="info">£23</div>
        </div>
        <div class="template-info">
          <div>Gel Polish removal</div>
          <div class="info">+ £4</div>
        </div>
        <div class="template-info">
          <div>BIAB plain overlay - 45min</div>
          <div class="info">£25</div>
        </div>
        <div class="template-info">
          <div>BIAB overlay & colour gel polish - 60min</div>
          <div class="info">£26</div>
        </div>
        <div class="template-info">
          <div>BIAB removal - 45min</div>
          <div class="info">+ £4</div>
        </div>
        <div class="template-info">
          <div>Nail art/ glitter/ french - 45min</div>
          <div class="info">£2</div>
        </div>
        <div class="template-info">
          <div>Gel Polish removal & recondition - 30min</div>
          <div class="info">£10</div>
        </div>
        <div class="template-info">
          <div>Gel with manicure</div>
          <div class="info">+ £7</div>
        </div>
        <div class="template-info">
          <div>Gel with pedicure</div>
          <div class="info">+ £10</div>
        </div>
      </section>
    </div>
  </div>

</div>
<div class="gallery-container">
  <div class="gallery-grid">
    <div class="gallery-grid__div">
      <img src="../../../assets/images/treatments/nails/nails1.jpg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/treatments/nails/nails5.jpeg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/treatments/nails/nails1.jpg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/treatments/nails/nails2.jpg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/treatments/nails/nails3.jpg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/treatments/nails/nails5.jpeg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/treatments/nails/nails1.jpg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/treatments/nails/nails5.jpeg" alt="" class="gallery-img">
    </div>

    <div class="gallery-grid__div">
      <img src="../../../assets/images/treatments/nails/nails3.jpg" alt="" class="gallery-img">
    </div>
  </div>
</div>