.massage {
  background-image: url("../../../assets/images/banners/beauty.jpg");
  background-size: auto;
  background-color: #f1cfcd;
}

p {
  color: #585657;
  margin-bottom: 17px;
  line-height: 1.5em;
  font-size: 1rem;
}
