<div>
  <div class="banner treatments"></div>
</div>

<div class="max-width">
  <div class="flex flex_col text">
    <h1 class="animate__animated animate__fadeInUp">Massage</h1>
  </div>
  <div>
    <p>Massage is a greatly relaxing and restorative therapy. It's the perfect way to melt away all your stress, relieve
      aching muscles and calm your busy mind. We have a comprehensive range of professional massage treatments that can
      be
      tailored to meet your individual needs.</p>
  </div>

  <div>
    <p>The most popular massage there is. A traditional style of massage with a pressure that can be as light or as firm
      as you like it. Perfect for alleviating aching knotty muscles & restoring a lovely sense of relaxation.</p>
  </div>

  <div>
    <p>If you’re looking for a stress busting treatment to relax and unwind, look no further! Feel the stress and
      tension
      melt away with our speciality Hot Stone massage. The heat from the stones is deeply relaxing & comforting
      providing
      a wonderful feeling of calm and contentment, whilst your muscles are warmed and soothed in a hypnotic style of
      massage. This wonderful massage is pure bliss!</p>
  </div>

  <div>
    <p>Because a relaxed Mummy results in a relaxed baby! Being pregnant is an incredible time…. your body is doing
      extraordinary things, you’re in bloom and you can’t wait to meet your little one. But there are a few pesky aches
      and pains that come along with this amazing process of growing a tiny human. Create time and space for your mind,
      body and soul to relax with our signature pregnancy massage. A pregnancy massage is a great way to relieve back
      pain, soothe headaches, reduce stress, renew dwindling energy levels and help ease all that delightful swelling.
      Safe to enjoy throughout pregnancy, packed full of benefits for you and baby. You can relax safe in the knowledge
      that you are in safe, qualified, experienced hands.</p>
  </div>

  <div class="treatment-block">
    <div class="treatment-inner">
      <section id="massage">
        <div class="template-wrapper" style="margin-bottom: 20px;">
          <div class="template-header pink">
            <h2 class="col-title">Swedish Massage</h2>
          </div>
          <div class="template-info">
            <div>Back, neck & shoulder - 30min</div>
            <div class="info">£20 - £23 </div>
            <div class="info"></div>
          </div>
          <div class="template-info">
            <div>Full body - 60min</div>
            <div class="info">£30 - £35</div>
          </div>
          <div class="template-info">
            <div>Full body inc face & scalp - 75min</div>
            <div class="info">£45</div>
          </div>
          <div class="template-info">
            <div>Auroras retreat (back, face & scalp) - 45min</div>
            <div class="info">£28</div>
          </div>
        </div>
        <div class="template-wrapper">
          <div class="template-header pink">
            <h2 class="col-title">Pregnant Massage</h2>
          </div>
          <div class="template-info">
            <div>Back, neck & shoulder - 30min</div>
            <div class="info">£24</div>
          </div>
          <div class="template-info">
            <div>Full body - 60min</div>
            <div class="info">£39</div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>