<div>
  <div class="banner treatments"></div>
</div>

<div class="max-width">
  <div class="flex flex_col text">
    <h1 class="animate__animated animate__fadeInUp">Massage</h1>
    <p>Massage is a greatly relaxing and restorative therapy. It's the perfect way to melt away all your stress, relieve
      aching muscles and calm your busy mind. We have a range of professional massage treatments that can
      be
      tailored to meet your individual needs.</p>
  </div>
  <div>
  </div>

  <div class="treatment-block">
    <div class="treatment-inner">
      <section id="massage">
        <div class="template-wrapper" style="margin-bottom: 20px;">
          <div class="template-header pink">
            <h2 class="col-title">Swedish Massage</h2>
          </div>
          <div class="template-info">
            <div>Back, neck & shoulder - 30min</div>
            <div class="info">£20 - £23 </div>
            <div class="info"></div>
          </div>
          <div class="template-info">
            <div>Full body - 60min</div>
            <div class="info">£30 - £35</div>
          </div>
          <div class="template-info">
            <div>Full body inc face & scalp - 75min</div>
            <div class="info">£45</div>
          </div>
          <div class="template-info">
            <div>Auroras retreat (back, face & scalp) - 45min</div>
            <div class="info">£28</div>
          </div>
        </div>
        <div class="template-wrapper">
          <div class="template-header pink">
            <h2 class="col-title">Pregnant Massage</h2>
          </div>
          <div class="template-info">
            <div>Back, neck & shoulder - 30min</div>
            <div class="info">£24</div>
          </div>
          <div class="template-info">
            <div>Full body - 60min</div>
            <div class="info">£39</div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>