<div>
  <div class="banner massage"></div>
</div>

<div class="max-width">
  <div class="flex flex_col text">
    <h1 class="animate__animated animate__fadeInUp">Massage</h1>
    <p>Massage is a greatly relaxing and restorative therapy. It's the perfect way to melt away all your stress, relieve
      aching muscles and calm your busy mind. We have a range of professional massage treatments that can
      be
      tailored to meet your individual needs.</p>
  </div>

  <section>
    <div>
      <h2>Swedish Massage</h2>
    </div>
    <div class="grid grid-4 m">
      <div>
        <h2>Back, neck & shoulder</h2>
        <div class="block animation fadeIn">
          <div>
            <p>30 minutes</p>
            <h4>£20 - £23</h4>
          </div>
        </div>
      </div>
      <div>
        <h2>Full body</h2>
        <div class="block animation fadeIn-slow">
          <div>
            <p>60 minutes</p>
            <h4>£30 - £35</h4>
          </div>
        </div>
      </div>
      <div>
        <h2>Full body inc face & scalp</h2>
        <div class="block animation fadeIn-slower">
          <div>
            <p>75 minutes</p>
            <h4>£45</h4>
          </div>
        </div>
      </div>
      <div>
        <h2>Auroras retreat (back, face & scalp)</h2>
        <div class="block animation fadeIn-slower">
          <div>
            <p>45 minutes</p>
            <h4>£28</h4>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h2>Pregnancy Massage</h2>
    </div>
    <div class="grid grid-2 m">
      <div>
        <h2>Back, neck & shoulder</h2>
        <div class="block animation fadeIn">
          <div>
            <p>30 minutes</p>
            <h4>£24</h4>
          </div>
        </div>
      </div>
      <div>
        <h2>Full body</h2>
        <div class="block animation fadeIn-slow">
          <div>
            <p>60 minutes</p>
            <h4>£39</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>