/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/shared.scss";
@import "./assets/styles/treatments.scss";

// Do not remove for the carousel
@import "~@glidejs/glide/src/assets/sass/glide.core";
@import "~@glidejs/glide/src/assets/sass/glide.theme";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

li {
  list-style: none;
}

h2,
h3,
h4,
h5,
p {
  font-family: "Manrope", sans-serif;
  color: var(--color-text-main);
}

p {
  font-family: "Manrope", sans-serif;
  font-weight: var(--font-extra-light);
}

a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.m-b {
  margin-bottom: 60px !important;
}

html,
body {
  height: 100%;
}
