@import "variables.scss";

.max-width {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.medium-width {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_col {
  flex-direction: column;
}

.banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.title {
  text-align: center;
  padding: 30px 0 30px;
  background: #ede9e6;
  h1 {
    font-size: 2rem;
    color: #333;
  }
}

// main text
.text {
  text-align: center;
  margin: 30px 0 20px;
  h1 {
    font-size: 1.7rem;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #ffcd36;
    padding-bottom: 5px;
    font-family: "Kameron", serif;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }
  p {
    color: #585657;
    margin-bottom: 17px;
    line-height: 1.5em;
    font-size: 1rem;
  }
}

button {
  border: none;
}

.contact-links {
  display: flex;
  align-items: center;
  padding-top: 30px;
  a {
    margin-right: 20px;
  }
}

.btn {
  background-color: #ffcd36;
  color: #000;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid #ffcd36;
  transition: 0.3s ease;
  span {
    margin: 0 20px 0 10px;
  }

  svg {
    display: block;
    width: 20px !important;
    height: 20px !important;
  }

  &:hover {
    background-color: #585657;
    border: 1px solid #585657;
    color: #eee;
    svg {
      fill: #fff;
      transition: 0.5s ease;
    }
  }
}

// Gallery
.gallery-container {
  padding: 50px 20px 90px;
}
.gallery-grid {
  display: grid;
  grid-auto-flow: initial;
  grid-template-columns: repeat(auto-fit, minmax(auto, 30em));
  grid-gap: 1em;
  justify-content: center;
  transition: 0.3s;

  &:hover img {
    filter: grayscale(1);
  }

  .gallery-grid__div {
    display: grid;
    grid-template-rows: 30em 1fr;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      .gallery-img {
        filter: grayscale(0);
      }
    }
  }
}

/// animations
.fadeIn {
  opacity: 0;
  transform: translate(0, 35px);
  transition: all 0.7s;
  &.on {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.fadeIn-slow {
  opacity: 0;
  transform: translate(0, 35px);
  transition: all 1.3s;
  &.on {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.fadeIn-slower {
  opacity: 0;
  transform: translate(0, 35px);
  transition: all 1.8s;
  &.on {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.fade-right {
  transform: translate(-45px, 0);
  transition: all 0.7s;
  position: relative;
  z-index: 1;
  &.on {
    transform: translate(0, 0);
  }
}

.fade-left {
  transform: translate(45px, 0);
  transition: all 0.7s;
  position: relative;
  z-index: 1;
  &.on {
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 768px) {
  .text {
    margin: 30px 0 10px !important;
  }
  .sub-title {
    margin: 0 auto 20px;
  }
  .gallery-grid {
    grid-auto-flow: column;
    grid-auto-columns: 90%;
    overflow-x: scroll;
    padding-bottom: 20px;
    grid-template-columns: none;
    justify-content: normal;

    &:hover img {
      filter: grayscale(0);
    }

    &:hover {
      .gallery-img {
        filter: grayscale(0);
      }
    }
  }
  .gallery-grid::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }
}

@media screen and (max-width: 480px) {
  .text {
    h1 {
      font-size: var(--h1-mobile);
    }
    p {
      font-size: var(--p-mobile);
    }
  }

  .btn {
    font-size: var(--button-fs);
  }
}
