section {
  padding: 0 0 60px 0px;
  h2 {
    margin-bottom: 10px;
  }
}

.block {
  display: flex;
  justify-content: space-evenly;
  background-color: #f4dad9;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
  p {
    line-height: 1.4em;
    margin: 5px 0 5px;
    font-size: var(--p-desktop);
  }
  h4 {
    font-size: 1.9rem;
    margin: 5px 0 5px;
  }
}

.grid {
  display: grid;
  gap: 20px;
  &-1 {
    grid-template-columns: 1fr;
  }
  &-2 {
    grid-template-columns: 1fr 1fr;
  }
  &-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &.m {
    margin-bottom: 40px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h2 {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
