section {
  padding: 0 0 60px 0px;
  h2 {
    font-size: var(--h2-desktop);
    margin-bottom: 10px;
    color: var(--color-text-main);
    font-family: var(--font-family-second);
    letter-spacing: var(--letter-spacing);
  }
}

.block {
  display: flex;
  justify-content: space-evenly;
  background-color: #f4dad9;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
  p {
    line-height: 1.4em;
    margin: 5px 0 5px;
    color: var(--color-text-main);
    font-weight: 400;
    font-size: var(--p-desktop);
  }
  h4 {
    font-size: var(--h4-desktop);
    margin: 5px 0 5px;
    color: var(--color-text-main);
    font-weight: var(--font-bold);
  }
}

.grid {
  display: grid;
  gap: 20px;
  &-1 {
    grid-template-columns: 1fr;
  }
  &-2 {
    grid-template-columns: 1fr 1fr;
  }
  &-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &.m {
    margin-bottom: 40px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h2 {
    font-family: var(--font-family-second);
    letter-spacing: var(--letter-spacing);
    font-size: var(--h2-desktop);
  }

  h3 {
    text-align: center;
    font-size: var(--h3-desktop);
    font-family: var(--font-family-second);
    letter-spacing: var(--letter-spacing);
    color: var(--color-text-main);
    font-weight: var(--font-bold);
    margin-bottom: 7px;
  }
}

.brands {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  a {
    padding: 0 15px 4px;
    border-bottom: 2px solid #585657;
    font-family: var(--font-family-second);
    font-size: 1.3rem;
    color: var(--color-text-main);
    letter-spacing: 0.8px;
    font-weight: 600;
    text-transform: uppercase;
    &.is-active {
      border-bottom: 2px solid #ffcd36;
    }
  }
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
