html {
  --h1-desktop: 1.6rem;
  --h1-mobile: 1.5rem;

  --h2-desktop: 1.4rem;
  --h2-mobile: 1.2rem;

  --h3-desktop: 1.2rem;
  --h3-mobile: 1.1rem;

  --h4-desktop: 1.8rem;
  --h4-mobile: 1.6rem;

  --p-desktop: 1rem;
  --p-mobile: 0.9rem;

  --button-desktop: 1.2rem;
  --button-mobile: 1rem;

  --font-bold: 600;
  --font-medium: 500;
  --font-light: 400;
  --font-extra-light: 300;

  --font-family: "Manrope", sans-serif;
  --font-family-second: "Kameron", serif;
}
