html {
  --h1-desktop: 1.7rem;
  --h1-mobile: 1.5rem;

  --h2-desktop: 1.4rem;
  --h2-mobile: 1.2rem;

  --h3-desktop: 1.2rem;
  --h3-mobile: 1.1rem;

  --p-desktop: 0.9rem;
  --p-mobile: 0.9rem;

  --button-desktop: 1.2rem;
  --button-mobile: 1rem;
}
