.treatments {
  background-image: url("../../../assets/images/treatments/beauty.jpg");
  background-size: auto;
  background-color: #f2d3ce;
}

.template-wrapper {
  box-shadow: 0 4px 5px rgb(0 0 0 / 13%);
}

.template-header {
  display: grid;
  grid-template-columns: 1fr 160px;
  padding: 15px 20px;
  background: #ffcd36;
  color: #000;
  top: 96px;
  z-index: 1;
  position: sticky;
  border-radius: 4px;
}

.pink {
  background-color: #e0bdb9;
}

.template-info {
  display: grid;
  grid-template-columns: 1fr 160px;
  color: #333;
  padding: 15px 20px;
  font-size: 1.1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sub-menu-wrapper {
  position: relative;
  .sub-menu {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    box-shadow: 0px -5px 25px #00000029;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 710px;
    margin: 0 auto;
    transform: translateX(100%);
    opacity: 0;
    background-color: #fff;
    visibility: hidden;
    button {
      background-color: transparent;
      border: none;
      color: #000;
      font-size: 1.2rem;
      padding: 20px;
      cursor: pointer;
      &:hover {
        background: #ffcd36;
      }
    }
    .active {
      background: #ffcd36;
    }
    button:nth-child(1) {
      border-top-left-radius: 5px;
    }
    button:nth-child(5) {
      border-top-right-radius: 5px;
    }
    &.open {
      position: fixed;
      transition: transform 0.4s linear, opacity 0.4s linear;
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
      z-index: 2;
    }
  }
}

.btn {
  &:hover {
    fill: #fff;
    svg {
      color: #fff;
      fill: #fff;
    }
  }
}

//// new
.treatment-block {
  display: flex;
  margin: 60px 0;

  .treatment-inner {
    flex: 1;
    padding: 0 20px;
    p {
      padding: 15px 0;
      line-height: 1.4em;
    }
  }
}

.hand {
  flex: 1;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/images/treatments/massage/hand2.jpg");
}

.brows {
  flex: 1;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/images/treatments/lashes/brows2.jpg");
}

.waxing {
  flex: 1;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/images/treatments/waxing.jpg");
}

.massage {
  flex: 1;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/images/treatments/massage/back.jpg");
}

@media screen and (max-width: 900px) {
  .template-header {
    top: 81px;
  }
}

@media screen and (max-width: 660px) {
  .template-header {
    font-size: 1rem;
  }

  .template-info {
    font-size: 1rem;
  }

  .sub-menu-wrapper {
    .sub-menu {
      left: 0;
      right: 0;
      flex-direction: row;
      transform: translateY(100%);
      &.open {
        bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .sub-menu-wrapper .sub-menu button {
    font-size: 1rem;
    padding: 15px;
  }
}

@media screen and (max-width: 480px) {
  .template-info {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 425px) {
  .template-header {
    top: 66px;
  }

  .sub-menu-wrapper .sub-menu button {
    font-size: 0.8rem;
    padding: 10px;
  }
}
