.lashes {
  background-image: url("../../../assets/images/products/lashes.jpg");
  background-size: auto;
  background-color: #ffe6ea;
}

p {
  color: #585657;
  margin-bottom: 17px;
  line-height: 1.5em;
  font-size: var(--p-desktop);
}
