.treatments {
  background-image: url("../../../assets/images/products/lashes.jpg");
  background-size: auto;
  background-color: #f6d9d5;
}

.template-wrapper {
  box-shadow: 0 4px 5px #00000021;
}

.template-header {
  display: grid;
  grid-template-columns: 1fr;
  padding: 15px 20px;
  color: #000;
  top: 96px;
  z-index: 1;
  position: sticky;
  // border-radius: 4px;
  border-bottom: 1px solid #000;
}

.template-info {
  display: grid;
  grid-template-columns: 1fr 100px;
  color: #333;
  padding: 15px 20px;
  font-size: 1.1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
