<div>
  <div class="banner treatments"></div>
</div>

<div class="max-width">
  <div class="flex flex_col text">
    <h1 class="animate__animated animate__fadeInUp">Lashes & Brows</h1>
    <p>Simply choose your look from natural classics to glamorous Russians and dramatic hybrids. If you need advice our
      in
      house Lashes tech will help guide you through the looks so you have the perfect lashes for you.</p>
  </div>

  <section>
    <div class="grid m">
      <div>
        <h2>Eyelash tint</h2>
        <div class="block animation fadeIn">
          <div>
            <p>45 minutes</p>
            <h4>£12.50</h4>
          </div>
        </div>
      </div>
      <div>
        <h2>Eyelash tint, Eyebrow shape & tint</h2>
        <div class="block animation fadeIn-slow">
          <div>
            <p>45 minutes</p>
            <h4>£25</h4>
          </div>
        </div>
      </div>
      <div>
        <h2>Lash lift & tint</h2>
        <div class="block animation fadeIn-slower">
          <div>
            <p>45 minutes</p>
            <h4>£33</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="grid">
      <div>
        <h2>Eyebrow Shape</h2>
        <div class="block animation fadeIn">
          <div>
            <p>45 minutes</p>
            <h4>£20</h4>
          </div>
        </div>
      </div>
      <div>
        <h2>Eyebrow Tint</h2>
        <div class="block animation fadeIn-slow">
          <div>
            <p>45 minutes</p>
            <h4>£20</h4>
          </div>
        </div>
      </div>
      <div>
        <h2>Eyebrow shape & tint</h2>
        <div class="block animation fadeIn-slower">
          <div>
            <p>45 minutes</p>
            <h4>£20</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>