<div>
  <div class="banner treatments"></div>
</div>

<div class="max-width">
  <div class="flex flex_col text">
    <h1 class="animate__animated animate__fadeInUp">Lashes & Brows</h1>
  </div>
  <div>
    <p>Simply choose your look from natural classics to glamorous Russians and dramatic hybrids. If you need advice our
      in
      house Lashes tech will help guide you through the looks so you have the perfect lashes for you.</p>
  </div>

  <div>
    <p>A ‘lash lift’ for your brows designed to open up your eyes and give you a fuller, bushier brow without
      microblading
      or semi-permanent makeup. This process uses a chemical solution to adjust your eyebrow hairs by straightening them
      to stay in the desired direction and can last for up to 2 months. It’s great for taming thick, unruly brows and
      encourages the hair to grow in the same direction.

      There are two different solutions – the first softens eyebrow hair and prepares them for lamination while the
      second
      restructures the hair to keep them in place. The solutions are brushed through the brow and left on for twenty
      minutes (making sure they stay in the desired shape).

      Thick or thin brows, it doesn’t discriminate. Wake up every morning to perfect brows and flawless arches with this
      non-invasive treatment. Dreamy. The best bit? It’s vegan and cruelty-free. </p>
  </div>

  <div class="treatment-block">
    <div class="treatment-inner">
      <section id="lashes" class="template-wrapper">
        <div class="template-header">
          <h2>Lashes & Brows</h2>
        </div>
        <div class="template-info">
          <div>Eyebrow Shape</div>
          <div class="info">£7.50</div>
        </div>
        <div class="template-info">
          <div>Eyebrow Tint</div>
          <div class="info">£7.50</div>
        </div>
        <div class="template-info">
          <div>Eyebrow shape & tint</div>
          <div class="info">£14</div>
        </div>
        <div class="template-info">
          <div>Eyelash tint</div>
          <div class="info">£12.50</div>
        </div>
        <div class="template-info">
          <div>Eyelash tint, Eyebrow shape & tint</div>
          <div class="info">£25</div>
        </div>
        <div class="template-info">
          <div>Lash lift & tint</div>
          <div class="info">£33</div>
        </div>
      </section>
    </div>
  </div>
</div>