<div>
  <div class="banner lashes"></div>
</div>

<div class="max-width">
  <div class="flex flex_col text">
    <h1 class="animate__animated animate__fadeInUp">Lashes & Brows</h1>
    <p>Simply choose your look from natural classics to glamorous Russians and dramatic hybrids. If you need advice, our
      in house Lashes tech will help guide you through the looks so you have the perfect lashes for you.</p>
  </div>

  <section>
    <div class="grid grid-3 m">
      <div>
        <h3>Eyelash tint</h3>
        <div class="block animation fadeIn">
          <div>
            <p>30 minutes</p>
            <h4>£12.50</h4>
          </div>
        </div>
      </div>
      <div>
        <h3>Eyelash tint, Eyebrow shape & tint</h3>
        <div class="block animation fadeIn-slow">
          <div>
            <p>45 minutes</p>
            <h4>£25</h4>
          </div>
        </div>
      </div>
      <div>
        <h3>Lash lift & tint</h3>
        <div class="block animation fadeIn-slower">
          <div>
            <p>75 minutes</p>
            <h4>£35</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-3">
      <div>
        <h3>Eyebrow Shape</h3>
        <div class="block animation fadeIn">
          <div>
            <p>15 minutes</p>
            <h4>£7.50</h4>
          </div>
        </div>
      </div>
      <div>
        <h3>Eyebrow Tint</h3>
        <div class="block animation fadeIn-slow">
          <div>
            <p>15 minutes</p>
            <h4>£7.50</h4>
          </div>
        </div>
      </div>
      <div>
        <h3>Eyebrow shape & tint</h3>
        <div class="block animation fadeIn-slower">
          <div>
            <p>30 minutes</p>
            <h4>£14</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>